Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.5

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: detect-changes
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            wagtail/.* backend true
            docs/.* backend true
            client/.* frontend true
            package.json frontend true
            .* ui_tests true

Parse multi-word tags when bulk-adding tags to images and documents
  CHANGELOG.txt
  docs/releases/8.1.md
  wagtail/documents/tests/test_bulk_actions/test_bulk_add_tags.py
  wagtail/documents/views/bulk_actions/add_tags.py
  wagtail/images/tests/test_bulk_actions/test_bulk_add_tags.py
  wagtail/images/views/bulk_actions/add_tags.py
Due: backend, ui_tests

Stop wagtail_update_image_renditions deleting the files it regenerates
  CHANGELOG.txt
  docs/releases/8.1.md
  wagtail/images/management/commands/wagtail_update_image_renditions.py
  wagtail/images/tests/test_management_commands.py
Due: backend, ui_tests

Avoid quadratic query construction in PagePermissionPolicy
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/8.1.md
  wagtail/permission_policies/pages.py
  wagtail/tests/permission_policies/test_page_permission_policies.py
Due: backend, ui_tests

Improve text formatting and punctuation
  wagtail/admin/templates/wagtailadmin/404.html
Due: backend, ui_tests

Fix broken links to Cloudflare and Handsontable documentation
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/reference/contrib/frontendcache.md
  docs/reference/contrib/table_block.md
  docs/releases/8.1.md
Due: backend, ui_tests

Return 404 instead of crashing when sitemaps receives unrecognized domain with no default site
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/8.1.md
  wagtail/contrib/sitemaps/sitemap_generator.py
  wagtail/contrib/sitemaps/tests.py
Due: backend, ui_tests

Fix excessive memory usage when copying a page with many revisions
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/8.1.md
  wagtail/actions/copy_page.py
Due: backend, ui_tests

refactor jquery to vanillajs
  client/src/entrypoints/admin/privacy-switch.js
Due: frontend, ui_tests

add privacy-switch test
  client/src/entrypoints/admin/privacy-switch.test.js
  client/src/utils/encodeForm.ts
Due: frontend, ui_tests

refactor: put init privacy under callback to domReady and update tests
  client/src/entrypoints/admin/privacy-switch.js
  client/src/entrypoints/admin/privacy-switch.test.js
Due: frontend, ui_tests

feat: update encodeForm with file input handling and tests
  client/src/utils/encodeForm.test.js
  client/src/utils/encodeForm.ts
Due: frontend, ui_tests

test: add test for autosave re-binding in privacy-switch
  client/src/entrypoints/admin/privacy-switch.test.js
Due: frontend, ui_tests

Allow historical form-page models to be instantiated
  wagtail/contrib/forms/models.py
  wagtail/contrib/forms/tests/test_models.py
Due: backend, ui_tests

Rewind image uploads after validation
  wagtail/images/fields.py
  wagtail/images/tests/tests.py
Due: backend, ui_tests

Prevent duplicate meta schemas for models used in foreign keys
  wagtail/api/v3/schemas/generators/read.py
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
Due: backend, ui_tests

Keep Elasticsearch service major bumps manual
  .github/renovate.jsonc
Due: ui_tests

Run Renovate monthly rather than weekly
  .github/renovate.jsonc
Due: ui_tests

Group django-stubs updates with the other linters
  .github/renovate.jsonc
Due: ui_tests

Ignore the project template's wagtail self-pin
  .github/renovate.jsonc
Due: ui_tests

Let lock file maintenance inherit the global schedule
  .github/renovate.jsonc
Due: ui_tests

Park major front-end linting dependency updates for approval
  .github/renovate.jsonc
Due: ui_tests

fixup! Run Renovate monthly rather than weekly
  .github/renovate.jsonc
Due: ui_tests

Add disclaimer about lack of support for homonyms in schemas
  docs/advanced_topics/api/v3/schema.md
Due: backend, ui_tests

fixup! Park major front-end linting dependency updates for approval
  .github/renovate.jsonc
Due: ui_tests

More fixups
  .github/renovate.jsonc
Due: ui_tests

Require operator, not agent, to write PR descriptions
  AGENTS.md
Due: ui_tests

Fix invisible nested submenu labels when using the slim sidebar
  CHANGELOG.txt
  CONTRIBUTORS.md
  client/src/components/Sidebar/SidebarPanel.scss
  client/src/components/Sidebar/menu/SubMenuItem.tsx
  docs/releases/8.1.md
  wagtail/test/testapp/views.py
Due: backend, frontend, ui_tests

Fix tests after moving Miscellaneous viewset group into the settings menu
  wagtail/admin/tests/viewsets/test_base_viewset.py
Due: backend, ui_tests

Use TagField for the bulk add-tags forms
  wagtail/documents/views/bulk_actions/add_tags.py
  wagtail/images/views/bulk_actions/add_tags.py
Due: backend, ui_tests

Rewrite generative AI guidelines to explain why PR descriptions should be human-written
  docs/contributing/general_guidelines.md
Due: backend, ui_tests

Avoid quadratic query construction in PagePermissionPolicy
  CONTRIBUTORS.md
  wagtail/permission_policies/pages.py
  wagtail/tests/permission_policies/test_page_permission_policies.py
Due: backend, ui_tests

Avoid template lookup when instantiating form pages
  wagtail/contrib/forms/models.py
  wagtail/contrib/forms/tests/test_models.py
Due: backend, ui_tests

Change Renovate configuration to run less often and on fewer dependencies (#14606)
  .github/renovate.jsonc
Due: ui_tests

Release note for #14609
  CHANGELOG.txt
  docs/releases/8.1.md
Due: backend, ui_tests

Reject over-long inputs to get_supported_content_language_variant
  wagtail/coreutils.py
  wagtail/tests/test_utils.py
Due: backend, ui_tests

Reject over-long inputs to get_supported_content_language_variant (#14611)
  CHANGELOG.txt
  docs/releases/8.1.md
  wagtail/coreutils.py
  wagtail/tests/test_utils.py
Due: backend, ui_tests
