Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Fix tags handling in write API v3
  wagtail/api/v3/form_data.py
  wagtail/api/v3/tests/test_page_create.py
  wagtail/api/v3/tests/test_page_update.py
Due: backend, ui_tests

Fix API v3 child relations with related_query_name or default accessor being ignored
  wagtail/api/conf.py
  wagtail/api/v3/form_data.py
  wagtail/api/v3/schemas/generators/read.py
  wagtail/api/v3/schemas/generators/write.py
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
  wagtail/api/v3/tests/test_page_create.py
  wagtail/api/v3/tests/test_page_update.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Fix API v3 500 when updating child relations whose model has a custom primary key name
  wagtail/api/v3/form_data.py
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
  wagtail/api/v3/tests/test_page_update.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Ensure custom id is respected in write API schema for inline panels
  wagtail/api/v3/form_data.py
  wagtail/api/v3/schemas/generators/write.py
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
  wagtail/api/v3/tests/test_page_update.py
Due: backend, ui_tests

Add missing __init__.py to wagtail.api.tests
  wagtail/api/tests/__init__.py
  wagtail/api/tests/test_rich_text_format.py
Due: backend, ui_tests

Handle nested inline panels in write API v3
  wagtail/api/v3/form_data.py
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
  wagtail/api/v3/tests/test_page_create.py
  wagtail/api/v3/tests/test_page_update.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Respect submitted order of child relation items in API v3 writes
  wagtail/api/v3/form_data.py
  wagtail/api/v3/tests/test_page_update.py
Due: backend, ui_tests

Only update supplied fields of existing child relation items in API v3 PATCH
  wagtail/api/v3/form_data.py
  wagtail/api/v3/tests/test_page_update.py
Due: backend, ui_tests

Fix incorrect payload in TestWorkflowsCreateView.test_post
  wagtail/admin/tests/test_workflows.py
Due: backend, ui_tests

Fix Page Explorer re-opening when clicking Pages in sidebar
  client/src/components/PageExplorer/PageExplorer.tsx
  client/src/components/PageExplorer/PageExplorerPanel.test.js
  client/src/components/PageExplorer/PageExplorerPanel.tsx
  client/src/components/Sidebar/menu/PageExplorerMenuItem.tsx
  client/src/components/Sidebar/menu/PageExplorererMenuItem.test.js
Due: frontend, ui_tests

Read Draftail aria-describedby from the field and label StructBlock children
  client/src/components/Draftail/index.js
  client/src/components/Draftail/index.test.js
  client/src/components/StreamField/blocks/StructBlock.ts
  client/src/components/StreamField/blocks/__snapshots__/ListBlock.test.js.snap
  client/src/components/StreamField/blocks/__snapshots__/StreamBlock.test.js.snap
  client/src/components/StreamField/blocks/__snapshots__/StructBlock.test.js.snap
Due: frontend, ui_tests

Optimize rich text page link localization
  wagtail/models/i18n.py
  wagtail/rich_text/pages.py
  wagtail/tests/test_rich_text.py
Due: backend, ui_tests

Format rich text page link changes
  wagtail/rich_text/pages.py
  wagtail/tests/test_rich_text.py
Due: backend, ui_tests

Fix duplicate heading marker in snippets API docs
  docs/advanced_topics/api/v3/snippets.md
Due: backend, ui_tests

Release note for #14693 in 8.0.1
  CHANGELOG.txt
  docs/releases/8.0.1.md
Due: backend, ui_tests

Release note for #14693 in 7.0.10
  CHANGELOG.txt
  docs/releases/7.0.10.md
  docs/releases/index.rst
Due: backend, ui_tests

Release note for #14693 in 7.4.4
  CHANGELOG.txt
  docs/releases/7.4.4.md
  docs/releases/index.rst
Due: backend, ui_tests

Allow Cloudflare frontend cache purge batch size to be configured
  wagtail/contrib/frontend_cache/backends/cloudflare.py
  wagtail/contrib/frontend_cache/tests.py
Due: backend, ui_tests

Document Cloudflare frontend cache PURGE_BATCH_SIZE option
  docs/reference/contrib/frontendcache.md
Due: backend, ui_tests

Tighten Cloudflare purge batch size tests
  wagtail/contrib/frontend_cache/tests.py
Due: backend, ui_tests

Fix frontend coverage upload to codecov
  .circleci/config.yml
Due: ui_tests

Format PURGE_BATCH_SIZE docs example with ruff
  docs/reference/contrib/frontendcache.md
Due: backend, ui_tests

Pin CircleCI backend tests for Wagtail 7.4 to Django 6.0
  .circleci/config.yml
Due: ui_tests

Revert codecov config and just keep the circleci version bump
  .circleci/config.yml
Due: ui_tests

Fix duplicate heading marker in snippets API docs (#14701)
  CONTRIBUTORS.md
  docs/advanced_topics/api/v3/snippets.md
Due: backend, ui_tests

Allow Cloudflare frontend cache purge batch size to be configured (#14702)
  CHANGELOG.txt
  docs/reference/contrib/frontendcache.md
  docs/releases/8.1.md
  wagtail/contrib/frontend_cache/backends/cloudflare.py
  wagtail/contrib/frontend_cache/tests.py
Due: backend, ui_tests

Corrected CI run totals
  .github/workflows/test.yml
Due: ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
