Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.5

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: detect-changes
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            wagtail/.* backend true
            docs/.* backend true
            client/.* frontend true
            package.json frontend true
            .* ui_tests true

Add new content personalization page
  docs/advanced_topics/content_personalization.md
  docs/advanced_topics/index.md
Due: backend, ui_tests

Add information about private pages and routable pages
  docs/advanced_topics/content_personalization.md
Due: backend, ui_tests

Add include_block tag in docs section heading for extra search weight
  docs/topics/streamfield.md
Due: backend, ui_tests

Remove prefixes from search fields docs headings to improve search matches
  docs/topics/search/indexing.md
Due: backend, ui_tests

added test case
  wagtail/images/tests/test_models.py
Due: backend, ui_tests

Fix formatting
  wagtail/images/tests/test_models.py
Due: backend, ui_tests

Bump Node.js to 24 (active LTS)
  .circleci/config.yml
  .nvmrc
  package-lock.json
  package.json
Due: frontend, ui_tests

Fix lint issue in a11y-result.test.ts
  client/src/includes/a11y-result.test.ts
Due: frontend, ui_tests

Update NPM packages via npm audit fix
  package-lock.json
Due: ui_tests

Migrate storybook config and middleware to use ESM
  client/storybook/main.js
  client/storybook/middleware.js
Due: frontend, ui_tests

Upgrade Storybook to v8
  client/storybook/Welcome.mdx
  client/storybook/main.js
  client/storybook/preview.js
  package-lock.json
  package.json
Due: frontend, ui_tests

Upgrade Jest to v30 in integration tests
  client/tests/integration/PuppeteerEnvironment.js
  client/tests/integration/package-lock.json
  client/tests/integration/package.json
Due: frontend, ui_tests

Upgrade Storybook to v9
  client/storybook/Welcome.mdx
  client/storybook/main.js
  package-lock.json
  package.json
Due: frontend, ui_tests

Update storybook-django to v1.1.0
  package-lock.json
  package.json
Due: frontend, ui_tests

Update prettier to 3.8.1
  .pre-commit-config.yaml
  client/src/entrypoints/images/image-block.js
  package-lock.json
  package.json
Due: frontend, ui_tests

Migrate Webpack config to ESM
  client/webpack.config.js
Due: frontend, ui_tests

Migrate Tailwind config to ESM
  client/tailwind.config.js
Due: frontend, ui_tests

Update .eslintignore and .prettierignore
  .eslintignore
  .prettierignore
Due: ui_tests

Upgrade Storybook to v10
  package-lock.json
  package.json
Due: frontend, ui_tests

Release notes for #13770
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Rename "Settings" to "Settings Models" (#13875)
  CHANGELOG.txt
  docs/reference/contrib/settings.md
  docs/releases/7.4.md
Due: backend, ui_tests

Allow Pillow 12.1.1+ security patch
  pyproject.toml
Due: ui_tests

Pin CircleCI tests for Wagtail 7.0 to Django 5.2
  .circleci/config.yml
Due: ui_tests
