Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Fix incorrect plural name for Query model in search_promotions. Fixes #13893
  wagtail/contrib/search_promotions/models.py
Due: backend, ui_tests

Remove upper bound on Pillow dependency
  setup.py
Due: ui_tests

Release notes for 6.3.7
  CHANGELOG.txt
  docs/releases/6.3.7.md
  docs/releases/index.rst
Due: backend, ui_tests

Version bump to 6.3.7
  wagtail/__init__.py
Due: backend, ui_tests

Release notes for 7.0.5
  CHANGELOG.txt
  docs/releases/7.0.5.md
  docs/releases/index.rst
Due: backend, ui_tests

Version bump to 7.0.5
  wagtail/__init__.py
Due: backend, ui_tests

Update doc8 to 1.1.2
  setup.py
Due: ui_tests

Bump minimum Willow version to v1.11.0
  setup.py
  wagtail/images/tests/test_image_operations.py
Due: backend, ui_tests

Add Kunal Hemnani to contributors
  CONTRIBUTORS.md
Due: ui_tests

Update latest.txt for 7.0.5
  scripts/latest.txt
Due: ui_tests

Use Docker Elasticsearch images for Github CI instead of actions
  .github/workflows/test.yml
Due: ui_tests

Fix crash in document serve view when storage backend does not implement file size
  wagtail/documents/tests/test_views.py
  wagtail/documents/views/serve.py
Due: backend, ui_tests

Release note for #13897
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Mock Intl.DateTimeFormat to make LocaleController tests deterministic
  client/src/controllers/LocaleController.test.js
  client/src/controllers/__snapshots__/LocaleController.test.js.snap
Due: frontend, ui_tests

Mock Intl.DateTimeFormat to make LocaleController tests deterministic (#13899)
  CHANGELOG.txt
  client/src/controllers/LocaleController.test.js
  client/src/controllers/__snapshots__/LocaleController.test.js.snap
  docs/releases/7.4.md
Due: backend, frontend, ui_tests

Apply ruff formatting
  wagtail/documents/tests/test_views.py
Due: backend, ui_tests

Fix Page.update_aliases not respecting exclude_fields_in_copy
  wagtail/models/pages.py
Due: backend, ui_tests

Fix flake8 line length violations
  wagtail/models/pages.py
Due: backend, ui_tests

UI: Add Locale column to Page Explorer
  wagtail/admin/views/pages/listing.py
Due: backend, ui_tests

Fix: ensure update_aliases respects exclude_fields_in_copy while preserving relation sync
  wagtail/models/pages.py
Due: backend, ui_tests

Fix: remove redundant uuid import in update_aliases to satisfy ruff
  wagtail/models/pages.py
Due: backend, ui_tests

Fix: apply Master Fix for update_aliases logic and formatting
  wagtail/models/pages.py
Due: backend, ui_tests

Test: add unit test for update_aliases respecting exclude_fields_in_copy
  wagtail/tests/test_page_model.py
Due: backend, ui_tests

Fix verbose_name_plural for Query model in search_promotions
  wagtail/contrib/search_promotions/models.py
  wagtail/contrib/search_promotions/tests.py
Due: backend, ui_tests

added unit test
  wagtail/admin/tests/pages/test_page_search.py
Due: backend, ui_tests

fixed ruff
  wagtail/admin/tests/pages/test_page_search.py
Due: backend, ui_tests

Add migration for Query model meta options
  wagtail/contrib/search_promotions/migrations/0008_alter_query_options.py
Due: backend, ui_tests

Docs: added section on custom fields in ReportView exports
  docs/extending/adding_reports.md
Due: backend, ui_tests

Expose Widget and BoundWidget on window.wagtail.components
  client/src/entrypoints/admin/core.js
Due: frontend, ui_tests

Fix: update core.test.js to expect Widget and BoundWidget
  client/src/entrypoints/admin/core.test.js
Due: frontend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
