Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.5

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: detect-changes
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            wagtail/.* backend true
            docs/.* backend true
            client/.* frontend true
            package.json frontend true
            .* ui_tests true

Enforce HTML escaping of all confirmation / warning / error messages
  wagtail/admin/templates/wagtailadmin/base.html
  wagtail/admin/views/account.py
  wagtail/contrib/simple_translation/tests/test_views.py
  wagtail/contrib/simple_translation/views.py
Due: backend, ui_tests

Release note for CVE-2026-28223 in 6.3.8
  CHANGELOG.txt
  docs/releases/6.3.8.md
Due: backend, ui_tests

Release note for CVE-2026-28223 in 7.0.6
  CHANGELOG.txt
  docs/releases/7.0.6.md
Due: backend, ui_tests

Release note for CVE-2026-28223 in 7.2.3
  CHANGELOG.txt
  docs/releases/7.2.3.md
Due: backend, ui_tests

Release note for CVE-2026-28223 in 7.3.1
  CHANGELOG.txt
  docs/releases/7.3.1.md
Due: backend, ui_tests

Version bump to 6.3.8 final
  wagtail/__init__.py
Due: backend, ui_tests

Version bump to 7.0.6 final
  wagtail/__init__.py
Due: backend, ui_tests

Version bump to 7.2.3 final
  wagtail/__init__.py
Due: backend, ui_tests

Version bump to 7.3.1 final
  wagtail/__init__.py
Due: backend, ui_tests

Update semgrep to 1.150.0
  .pre-commit-config.yaml
  CHANGELOG.txt
  docs/releases/7.2.3.md
  pyproject.toml
Due: backend, ui_tests

Release note for updating semgrep to 1.150.0 in 7.2.3
  CHANGELOG.txt
  docs/releases/7.2.3.md
Due: backend, ui_tests

Update latest.txt for 7.3.1 and 7.0.6
  scripts/latest.txt
Due: ui_tests

Add WAGTAILDOCS_MAX_UPLOAD_SIZE setting to limit document upload file size
  docs/reference/settings.md
  wagtail/documents/fields.py
  wagtail/documents/forms.py
  wagtail/documents/tests/test_admin_views.py
  wagtail/documents/tests/test_document_field.py
Due: backend, ui_tests

Fix import sorting for ruff linter
  wagtail/documents/forms.py
Due: backend, ui_tests

Fix code formatting for ruff formatter
  wagtail/documents/fields.py
  wagtail/documents/forms.py
  wagtail/documents/tests/test_admin_views.py
  wagtail/documents/tests/test_document_field.py
Due: backend, ui_tests

Added WagtailDocumentField with help text and validation similar to WagtailImageField
  docs/reference/settings.md
  wagtail/documents/fields.py
  wagtail/documents/forms.py
  wagtail/documents/models.py
  wagtail/documents/tests/test_admin_views.py
  wagtail/documents/tests/test_form_overrides.py
Due: backend, ui_tests

Fix formatting with ruff
  wagtail/documents/fields.py
  wagtail/documents/tests/test_admin_views.py
Due: backend, ui_tests

Avoid creating a new editing session when updating UI elements after an autosave
  wagtail/admin/tests/pages/test_edit_page.py
  wagtail/admin/views/generic/mixins.py
  wagtail/admin/views/pages/edit.py
  wagtail/snippets/tests/test_edit_view.py
Due: backend, ui_tests

Revert "Remove image/heic from accept attribute #13971, #13972"
  wagtail/images/fields.py
  wagtail/images/tests/test_admin_views.py
  wagtail/images/utils.py
Due: backend, ui_tests

Add versions of the wagtailcache and wagtailpagecache tags for jinja2
  docs/reference/jinja2.md
  wagtail/jinja2tags.py
Due: backend, ui_tests

Server-side fix for HEIC bug in Safari
  wagtail/images/tests/test_admin_views.py
  wagtail/images/utils.py
  wagtail/images/views/chooser.py
  wagtail/images/views/multiple.py
Due: backend, ui_tests

Fix #13976: Specific instances in PageBulkAction.get_queryset
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_publish.py
  wagtail/admin/views/pages/bulk_actions/page_bulk_action.py
Due: backend, ui_tests

Address review feedback: add client-side validation, fix f-string, simplify docs
  docs/reference/settings.md
  wagtail/documents/templates/wagtaildocs/multiple/add.html
  wagtail/documents/tests/test_admin_views.py
  wagtail/documents/views/multiple.py
Due: backend, ui_tests

Add lang attribute to page titles in admin templates for WCAG 3.1.2 compliance.
  wagtail/admin/templates/wagtailadmin/chooser/tables/parent_page_cell.html
  wagtail/admin/templates/wagtailadmin/home/locked_pages.html
  wagtail/admin/templates/wagtailadmin/home/recent_edits.html
  wagtail/admin/templates/wagtailadmin/pages/bulk_actions/confirm_bulk_delete.html
  wagtail/admin/templates/wagtailadmin/pages/bulk_actions/list_items_with_no_access.html
  wagtail/admin/templates/wagtailadmin/pages/listing/_page_title_cell.html
  wagtail/admin/templates/wagtailadmin/pages/listing/_page_title_explore.html
  wagtail/admin/templates/wagtailadmin/pages/listing/_parent_page_cell.html
Due: backend, ui_tests

Add consistent tooltips to icon-only buttons in the editor
  client/src/components/Minimap/Minimap.tsx
  client/src/components/Sidebar/Sidebar.tsx
  client/src/components/Sidebar/menu/SubMenuCloseButton.tsx
  client/src/components/StreamField/blocks/ActionButtons.ts
  client/src/components/StreamField/blocks/CollapsiblePanel.ts
  client/src/components/StreamField/blocks/ListBlock.js
  client/src/components/StreamField/blocks/ListBlock.test.js
  client/src/components/StreamField/blocks/StreamBlock.js
  client/src/components/StreamField/blocks/StreamBlock.test.js
  client/src/components/StreamField/blocks/__snapshots__/ListBlock.test.js.snap
  client/src/components/StreamField/blocks/__snapshots__/StreamBlock.test.js.snap
  client/src/entrypoints/contrib/typed_table_block/typed_table_block.js
  wagtail/admin/templates/wagtailadmin/panels/inline_panel_child.html
  wagtail/admin/templates/wagtailadmin/shared/dialog/dialog.html
  wagtail/admin/templates/wagtailadmin/shared/formatted_field.html
  wagtail/admin/templates/wagtailadmin/shared/headers/_filters.html
  wagtail/admin/templates/wagtailadmin/shared/panel.html
  wagtail/admin/templates/wagtailadmin/shared/side_panels.html
  wagtail/admin/templates/wagtailadmin/shared/side_panels/preview.html
  wagtail/admin/templates/wagtailadmin/tables/ordering_cell.html
Due: backend, frontend, ui_tests

Fix prettier formatting issues
  client/src/components/StreamField/blocks/CollapsiblePanel.ts
  client/src/entrypoints/contrib/typed_table_block/typed_table_block.js
Due: frontend, ui_tests

Update preview tests to support tooltip controller
  wagtail/admin/tests/pages/test_preview.py
  wagtail/snippets/tests/test_preview.py
Due: backend, ui_tests

Update Jest snapshots after tooltip controller change
  client/src/components/Sidebar/__snapshots__/Sidebar.test.js.snap
  client/src/components/StreamField/blocks/__snapshots__/StructBlock.test.js.snap
  client/src/entrypoints/contrib/typed_table_block/__snapshots__/typed_table_block.test.js.snap
Due: frontend, ui_tests

Fixed indentation issue
  wagtail/admin/templates/wagtailadmin/pages/bulk_actions/list_items_with_no_access.html
Due: backend, ui_tests

Use links for refresh buttons in concurrent editing notifications
  client/src/controllers/SessionController.ts
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/list.html
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
Due: backend, frontend, ui_tests

Improve alignment of autosave indicator between states
  client/scss/components/_autosave.scss
Due: frontend, ui_tests

Vertically align avatars in editing sessions list
  client/scss/components/_editing-sessions.scss
Due: frontend, ui_tests

Dispatch w-autosave:error before w-autosave:deactivated
  client/src/controllers/AutosaveController.test.js
  client/src/controllers/AutosaveController.ts
Due: frontend, ui_tests

Make 'view latest version' links open in a new tab
  client/src/controllers/SessionController.test.js
  client/src/controllers/SessionController.ts
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/list.html
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
  wagtail/admin/tests/test_editing_sessions.py
Due: backend, frontend, ui_tests
