Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Update API v3 schema snapshots
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
Due: backend, ui_tests

Support typed tables in API v3 writes
  wagtail/api/v3/form_data.py
  wagtail/snippets/tests/test_api_v3/test_create.py
  wagtail/snippets/tests/test_api_v3/test_update.py
  wagtail/test/testapp/migrations/0067_alter_uuidsnippetwithrelations_body.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Suppress warnings generated under sphinx-llm 1.1.0
  docs/conf.py
Due: backend, ui_tests

Re-enable build of llms-full.txt
  docs/conf.py
Due: backend, ui_tests

Release notes for #14642
  CHANGELOG.txt
  docs/releases/8.0.1.md
  docs/releases/index.rst
Due: backend, ui_tests

Add type hints to generate schema for ImageRenditionField
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
  wagtail/images/api/fields.py
Due: backend, ui_tests

Inspect serializer's to_representation for best-effort schema
  wagtail/api/v3/schemas/generators/read.py
Due: backend, ui_tests

Add snippet form page headings
  wagtail/snippets/templates/wagtailsnippets/snippets/create.html
  wagtail/snippets/templates/wagtailsnippets/snippets/edit.html
  wagtail/snippets/tests/test_create_view.py
  wagtail/snippets/tests/test_edit_view.py
Due: backend, ui_tests

Add v3 ImageRenditionField
  docs/advanced_topics/api/v3/images.md
  docs/advanced_topics/api/v3/migration.md
  wagtail/api/v2/views.py
  wagtail/api/v3/fields.py
  wagtail/api/v3/schemas/generators/read.py
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
  wagtail/api/v3/tests/test_page_schemas.py
  wagtail/images/api/v3/fields.py
  wagtail/images/tests/test_api_fields_v3.py
  wagtail/test/demosite/models.py
Due: backend, ui_tests

Fix bulk deletion of automatically-created redirects with empty batch
  CHANGELOG.txt
  docs/releases/8.1.md
  wagtail/contrib/redirects/signal_handlers.py
  wagtail/contrib/redirects/tests/test_signal_handlers.py
Due: backend, ui_tests

Add failing tests for task hand-offs lost after commit
  wagtail/contrib/frontend_cache/tests.py
  wagtail/documents/tests/test_models.py
  wagtail/images/tests/test_signal_handlers.py
Due: backend, ui_tests

Add due-work-harness contracts for task hand-offs
  due_work_contract/README.md
  due_work_contract/__init__.py
  due_work_contract/cdn.py
  due_work_contract/conftest.py
  due_work_contract/pyproject.toml
  due_work_contract/settings.py
  due_work_contract/wagtail_tasks_test.py
Due: ui_tests

Point out where the due-work contracts generate their tests
  due_work_contract/wagtail_tasks_test.py
Due: ui_tests

Add row headers and accessible names to group permission tables
  wagtail/admin/templates/wagtailadmin/permissions/includes/collection_member_permissions_form.html
  wagtail/users/forms.py
  wagtail/users/templates/wagtailusers/groups/includes/formatted_permissions.html
  wagtail/users/templates/wagtailusers/groups/includes/page_permissions_form.html
  wagtail/users/tests/test_admin_views.py
Due: backend, ui_tests

Declare the findings on the contract's histories
  due_work_contract/README.md
  due_work_contract/wagtail_tasks_test.py
Due: ui_tests

Fix snippet form page headings
  wagtail/snippets/templates/wagtailsnippets/snippets/create.html
  wagtail/snippets/templates/wagtailsnippets/snippets/edit.html
  wagtail/snippets/tests/test_create_view.py
  wagtail/snippets/tests/test_edit_view.py
Due: backend, ui_tests

Fix tests for #14626 after rebase on #12753
  wagtail/contrib/redirects/tests/test_signal_handlers.py
Due: backend, ui_tests

Prevent SyntaxError from crashing a development server with a RuntimeError when using jinja2
  wagtail/admin/templatetags/wagtailuserbar.py
  wagtail/contrib/settings/jinja2tags.py
  wagtail/images/jinja2tags.py
  wagtail/images/shortcuts.py
  wagtail/images/templatetags/wagtailimages_tags.py
  wagtail/templatetags/wagtailcore_tags.py
Due: backend, ui_tests

Bulk-fetch site root page translations in get_site_root_paths()
  wagtail/models/sites.py
Due: backend, ui_tests

Update sitemap tests for get_site_root_paths bulk fetch
  wagtail/contrib/sitemaps/tests.py
Due: backend, ui_tests

Document how page links pick a site when templates render
  docs/extending/rich_text_internals.md
  docs/reference/models.md
  docs/topics/writing_templates.md
Due: backend, ui_tests

Add a request-scoped stash for short-lived memoization
  wagtail/tests/test_stash.py
  wagtail/utils/stash.py
Due: backend, ui_tests

Bind the current site around deferred template rendering
  wagtail/models/__init__.py
  wagtail/models/pages.py
  wagtail/models/preview.py
  wagtail/models/sites.py
  wagtail/test/testapp/templates/tests/richtext_filter.html
  wagtail/tests/test_site_scope.py
  wagtail/tests/test_template_response.py
  wagtail/views.py
  wagtail/wagtail_hooks.py
Due: backend, ui_tests

Add tests for clearing the site root paths cache on page delete
  wagtail/tests/tests.py
Due: backend, ui_tests

Clear the site root paths cache when a site root page is deleted
  wagtail/signal_handlers.py
Due: backend, ui_tests

Fix KeyError in ImageElementHandler.create_entity() when attrs are missing
  wagtail/images/rich_text/contentstate.py
  wagtail/images/tests/test_rich_text.py
Due: backend, ui_tests

Add accessible names to admin search landmarks
  client/src/components/Sidebar/modules/Search.tsx
  wagtail/admin/templates/wagtailadmin/home.html
  wagtail/admin/templates/wagtailadmin/shared/headers/slim_header.html
Due: backend, frontend, ui_tests

Add a level-one heading to snippet create and edit views
  wagtail/snippets/templates/wagtailsnippets/snippets/create.html
  wagtail/snippets/templates/wagtailsnippets/snippets/edit.html
  wagtail/snippets/tests/test_create_view.py
  wagtail/snippets/tests/test_edit_view.py
Due: backend, ui_tests

Include caption in TypedTableBlock duplicated state
  client/src/entrypoints/contrib/typed_table_block/typed_table_block.js
Due: frontend, ui_tests

Add regression test for TypedTableBlock duplicate caption
  client/src/entrypoints/contrib/typed_table_block/typed_table_block.test.js
Due: frontend, ui_tests

docs: clarify wagtail-factories usage
  docs/advanced_topics/testing.md
Due: backend, ui_tests

Fix TableBlock losing cell edits made directly in contenteditable cells on save
  client/src/entrypoints/contrib/table_block/table.js
Due: frontend, ui_tests

Add tests for persisting direct cell edits in TableBlock
  client/src/entrypoints/contrib/table_block/table.test.js
Due: frontend, ui_tests

Preserve child_of filter when ordering API results
  wagtail/admin/tests/api/test_pages.py
  wagtail/api/v2/filters.py
Due: backend, ui_tests

Fix snippet workflow resume using a stale revision
  wagtail/admin/tests/test_workflows.py
  wagtail/models/workflows.py
Due: backend, ui_tests

Ensure tampered redirect import form throws SuspiciousOperation as intended
  wagtail/contrib/redirects/forms.py
  wagtail/contrib/redirects/tests/test_import_admin_views.py
Due: backend, ui_tests

Preserve editor focal points during queued detection
  wagtail/images/tasks.py
  wagtail/images/tests/test_signal_handlers.py
Due: backend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
