Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Avoid creating a new editing session when updating UI elements after an autosave (#13974)
  CHANGELOG.txt
  docs/releases/7.3.2.md
  wagtail/admin/tests/pages/test_edit_page.py
  wagtail/admin/views/generic/mixins.py
  wagtail/admin/views/pages/edit.py
  wagtail/snippets/tests/test_edit_view.py
Due: backend, ui_tests

Rename w-overwrite-changes-dialog to w-save-confirmation-dialog
  client/src/controllers/SessionController.test.js
  client/src/controllers/SessionController.ts
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/list.html
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
  wagtail/admin/tests/test_editing_sessions.py
Due: backend, frontend, ui_tests

Extract idle, available, and stale timedelta values as EditingSession attributes
  wagtail/admin/models.py
Due: backend, ui_tests

Make 'view latest version' links open in a new tab
  client/src/controllers/SessionController.test.js
  client/src/controllers/SessionController.ts
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/list.html
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
  wagtail/admin/tests/test_editing_sessions.py
Due: backend, frontend, ui_tests

Limit autosave retries to 5
  client/src/controllers/AutosaveController.test.js
  client/src/controllers/AutosaveController.ts
Due: frontend, ui_tests

Add unit test for autosave hydration when the partials target is unavailable
  client/src/controllers/AutosaveController.test.js
Due: frontend, ui_tests

Add retries with exponential backoff when autosave fails due to network error
  client/src/controllers/AutosaveController.test.js
  client/src/controllers/AutosaveController.ts
Due: frontend, ui_tests

Improve alignment of autosave indicator between states
  client/scss/components/_autosave.scss
Due: frontend, ui_tests

Vertically align avatars in editing sessions list
  client/scss/components/_editing-sessions.scss
Due: frontend, ui_tests

Show editing sessions seen in the past 25min and mark sessions older than 10min as idle
  client/scss/components/_editing-sessions.scss
  wagtail/admin/models.py
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/list.html
  wagtail/admin/tests/test_editing_sessions.py
  wagtail/admin/views/editing_sessions.py
Due: backend, frontend, ui_tests

Dispatch w-autosave:error before w-autosave:deactivated
  client/src/controllers/AutosaveController.test.js
  client/src/controllers/AutosaveController.ts
Due: frontend, ui_tests

Do not release editing session when switching to a different tab
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
Due: backend, ui_tests

Use links for refresh buttons in concurrent editing notifications
  client/src/controllers/SessionController.ts
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/list.html
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
Due: backend, frontend, ui_tests

Show a warning dialog when trying to save after losing internet connection
  client/src/controllers/SessionController.test.js
  client/src/controllers/SessionController.ts
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
Due: backend, frontend, ui_tests

Pause SessionController pings during autosave to prevent conflict notification with own session
  client/src/controllers/SessionController.test.js
  client/src/controllers/SessionController.ts
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
Due: backend, frontend, ui_tests

Release note for #13975
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Prevent redundant restoration of required fields validation
  wagtail/admin/forms/models.py
Due: backend, ui_tests

Pass BlockField's is_deferred_validation to BaseStreamBlock.clean()
  wagtail/blocks/base.py
  wagtail/blocks/stream_block.py
Due: backend, ui_tests

Add is_deferred_validation to form fields during validation of drafts
  wagtail/admin/forms/models.py
  wagtail/admin/tests/test_forms.py
Due: backend, ui_tests

Add docs for deferred validation in StreamField
  docs/advanced_topics/customization/page_editing_interface.md
  docs/advanced_topics/streamfield_validation.md
  docs/reference/streamfield/blocks.md
  wagtail/blocks/base.py
Due: backend, ui_tests

Defer validation of required StreamField blocks when saving drafts
  wagtail/admin/tests/pages/test_create_page.py
  wagtail/admin/tests/pages/test_edit_page.py
  wagtail/blocks/base.py
  wagtail/blocks/field_block.py
  wagtail/blocks/list_block.py
  wagtail/blocks/stream_block.py
  wagtail/blocks/struct_block.py
  wagtail/contrib/table_block/blocks.py
  wagtail/contrib/table_block/tests.py
  wagtail/contrib/typed_table_block/blocks.py
  wagtail/contrib/typed_table_block/tests.py
  wagtail/images/blocks.py
  wagtail/images/tests/test_blocks.py
  wagtail/tests/test_blocks.py
Due: backend, ui_tests

Remove outdated note in Block.clean() docstring
  wagtail/blocks/base.py
Due: backend, ui_tests

Add support for required_on_save on FieldBlocks
  docs/advanced_topics/streamfield_validation.md
  docs/reference/streamfield/blocks.md
  wagtail/blocks/field_block.py
  wagtail/tests/test_blocks.py
Due: backend, ui_tests

Release note for #13930
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

docs: add documentation for published and unpublished signals
  docs/reference/signals.md
Due: backend, ui_tests

Fix ChoiceBlock to preserve original choice value types (#13658)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.4.md
  wagtail/blocks/field_block.py
  wagtail/tests/test_blocks.py
Due: backend, ui_tests

Add WAGTAILDOCS_MAX_UPLOAD_SIZE setting to limit document upload file size (#13987)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/reference/settings.md
  docs/releases/7.4.md
  wagtail/documents/fields.py
  wagtail/documents/forms.py
  wagtail/documents/templates/wagtaildocs/multiple/add.html
  wagtail/documents/tests/test_admin_views.py
  wagtail/documents/tests/test_document_field.py
  wagtail/documents/views/multiple.py
Due: backend, ui_tests

Enhance ListBlock add buttons with descriptive labels (#13995)
  client/src/components/StreamField/blocks/ListBlock.js
Due: frontend, ui_tests

Fix unclosed SpooledTemporaryFile
  wagtail/images/tests/conftest.py
  wagtail/images/tests/test_renditions.py
Due: backend, ui_tests

Docs: add contributor issue triage process diagram
  docs/contributing/issue_tracking.md
Due: backend, ui_tests

Fix nested child PKs not updated in copied revisions
  wagtail/actions/copy_page.py
Due: backend, ui_tests

Fix: remove markdown code block and use proper formatting for issue flow
  docs/contributing/issue_tracking.md
Due: backend, ui_tests

Use UNION ALL to avoid unnecessary deduplication in site history report
  wagtail/admin/views/reports/audit_logging.py
Due: backend, ui_tests

Combine site history querysets more efficiently (#14042)
  CHANGELOG.txt
  docs/releases/7.4.md
  wagtail/admin/views/reports/audit_logging.py
Due: backend, ui_tests

fix(tests): Rename testapp migration to 0062 to fix conflict with wagtail:main
  wagtail/test/testapp/migrations/0062_tofieldcategory_tofieldpost.py
Due: backend, ui_tests

Fix instructions for copying Wagtail icons table
  docs/contributing/ui_guidelines.md
Due: backend, ui_tests

docs: improve clarity of linting and formatting reference links
  docs/contributing/ui_guidelines.md
Due: backend, ui_tests

Update embeds.md with security note for embeds
  docs/advanced_topics/embeds.md
Due: backend, ui_tests

Update embeds.md
  docs/advanced_topics/embeds.md
Due: backend, ui_tests

Revert "Fix DocumentChooserBlock validation error display (#13926)"
  wagtail/admin/templates/wagtailadmin/generic/chooser/chooser.html
  wagtail/admin/templates/wagtailadmin/generic/chooser/creation_form.html
  wagtail/admin/tests/test_chooser.py
Due: backend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
