Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Add versionadded note for WAGTAILADMIN_PAGE_SEARCH_FILTER_BY_PERMISSIONS setting
  docs/reference/settings.md
Due: backend, ui_tests

Release note for #14135
  CHANGELOG.txt
  docs/reference/settings.md
  docs/releases/7.4.md
Due: backend, ui_tests

Fix page header buttons disappearing after searching or filtering the page explorer
  wagtail/admin/templates/wagtailadmin/pages/explorable_index_results.html
  wagtail/admin/templates/wagtailadmin/pages/index_results.html
  wagtail/admin/tests/pages/test_explorer_view.py
Due: backend, ui_tests

Add WAGTAILUSERS_PASSWORD_RESET_ENABLED setting
  docs/reference/settings.md
  wagtail/admin/tests/test_password_reset.py
  wagtail/admin/views/account.py
Due: backend, ui_tests

Address review feedback from gasman
  wagtail/documents/fields.py
  wagtail/documents/tests/test_document_field.py
Due: backend, ui_tests

Release notes
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Fix page header buttons disappearing after searching or filtering the page explorer (#14145)
  CHANGELOG.txt
  docs/releases/7.4.md
  wagtail/admin/templates/wagtailadmin/pages/explorable_index_results.html
  wagtail/admin/templates/wagtailadmin/pages/index_results.html
  wagtail/admin/tests/pages/test_explorer_view.py
Due: backend, ui_tests

Move #14145 release notes to the correct release
  CHANGELOG.txt
  docs/releases/7.3.2.md
  docs/releases/7.4.md
Due: backend, ui_tests

Fix page header buttons disappearing after searching or filtering the page explorer (#14145)
  CHANGELOG.txt
  docs/releases/7.3.2.md
  wagtail/admin/templates/wagtailadmin/pages/explorable_index_results.html
  wagtail/admin/templates/wagtailadmin/pages/index_results.html
  wagtail/admin/tests/pages/test_explorer_view.py
Due: backend, ui_tests

Ensure submit to workflow menu item uses the workflow name when creating pages
  CHANGELOG.txt
  docs/releases/7.4.md
  wagtail/admin/action_menu.py
  wagtail/admin/tests/pages/test_create_page.py
Due: backend, ui_tests

Use choice label when displaying choice fields in list_display
  wagtail/admin/views/generic/models.py
  wagtail/snippets/tests/test_viewset.py
  wagtail/test/testapp/models.py
  wagtail/test/testapp/wagtail_hooks.py
Due: backend, ui_tests

Update example of using custom methods for SnippetViewSet.list_display
  docs/topics/snippets/customizing.md
Due: backend, ui_tests

Release note for #14146
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Fix ruff formatting
  wagtail/documents/fields.py
Due: backend, ui_tests

Serve original image via protected admin view
  wagtail/images/admin_urls.py
  wagtail/images/templates/wagtailimages/images/_file_field.html
  wagtail/images/templates/wagtailimages/images/edit.html
  wagtail/images/tests/test_admin_views.py
  wagtail/images/views/images.py
Due: backend, ui_tests

Bump beautifulsoup4 dependency to >=4.13.3
  pyproject.toml
Due: ui_tests

Bump beautifulsoup4 dependency to >=4.13.3 (#14163)
  CHANGELOG.txt
  docs/releases/7.4.md
  pyproject.toml
Due: backend, ui_tests

Release notes
  CHANGELOG.txt
  docs/advanced_topics/accessibility_considerations.md
  docs/releases/7.4.md
Due: backend, ui_tests

Implement meta description content check
  client/src/includes/contentChecker.test.ts
  client/src/includes/contentChecker.ts
  wagtail/admin/tests/test_userbar.py
  wagtail/admin/userbar.py
Due: backend, frontend, ui_tests

Implement SEO meta description check in content checker (#14125)
  CHANGELOG.txt
  client/src/includes/contentChecker.test.ts
  client/src/includes/contentChecker.ts
  docs/advanced_topics/accessibility_considerations.md
  docs/releases/7.4.md
  wagtail/admin/tests/test_userbar.py
  wagtail/admin/userbar.py
Due: backend, frontend, ui_tests

Add extractMetrics method to PreviewController
  client/src/controllers/PreviewController.test.js
  client/src/controllers/PreviewController.ts
  client/src/includes/contentMetrics.ts
  docs/extending/editor_api.md
Due: backend, frontend, ui_tests

Return Axe results from PreviewController.runAxeChecks
  client/src/controllers/PreviewController.ts
Due: frontend, ui_tests

Release notes for #14161
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Implement first draft inline userbar annotations
  client/scss/components/_inline-userbar.scss
  client/scss/core.scss
  client/src/entrypoints/admin/userbar.js
  client/src/includes/contentChecker.test.ts
  client/src/includes/contentChecker.ts
  client/src/includes/inlineUserbar.ts
  client/src/includes/userbar.ts
  wagtail/admin/templates/wagtailadmin/userbar/base.html
  wagtail/admin/templates/wagtailadmin/userbar/item_content_checker.html
Due: backend, frontend, ui_tests

Implement preview panel scale factor sync with inline annotations
  client/scss/components/_inline-userbar.scss
  client/src/controllers/PreviewController.ts
  client/src/includes/inlineUserbar.ts
  client/src/includes/userbar.ts
  client/src/utils/message.ts
Due: frontend, ui_tests

Improve inline userbar rendering and theming
  client/scss/components/_inline-userbar.scss
  client/scss/components/_userbar.scss
  client/scss/settings/_variables.scss
  wagtail/admin/templates/wagtailadmin/userbar/base.html
Due: backend, frontend, ui_tests

Simplify checker issue target highlight code
  client/src/includes/inlineUserbar.ts
  client/src/includes/userbar.ts
Due: frontend, ui_tests

Fix Collapse All button state reverting after switching tabs
  CHANGELOG.txt
  CONTRIBUTORS.md
  client/src/components/Minimap/Minimap.test.tsx
  client/src/components/Minimap/Minimap.tsx
  docs/releases/7.4.md
Due: backend, frontend, ui_tests

Fix broken API doc links to AccessibilityItem in release notes
  docs/releases/5.0.md
  docs/releases/7.1.md
Due: backend, ui_tests

Fix broken API doc links to AccessibilityItem in release notes (#14166)
  docs/releases/5.0.md
  docs/releases/7.1.md
Due: backend, ui_tests

Link to Modelsearch configuration docs
  docs/topics/search/backends.md
Due: backend, ui_tests

Upgrade to modelsearch 1.3
  pyproject.toml
  wagtail/search/management/commands/enable_fuzzystrmatch.py
  wagtail/search/management/commands/enable_trigram.py
  wagtail/search/management/commands/enable_unaccent.py
  wagtail/search/migrations/0010_add_text_fields.py
Due: backend, ui_tests

Document the ability to filter on related fields
  docs/topics/search/indexing.md
Due: backend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
