Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.5

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: detect-changes
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            wagtail/.* backend true
            docs/.* backend true
            client/.* frontend true
            package.json frontend true
            .* ui_tests true

Release note for Modelsearch improvements
  docs/releases/7.4.md
Due: backend, ui_tests

Wrap page type name and description in container to ensure alignment
  wagtail/admin/templates/wagtailadmin/pages/add_subpage.html
Due: backend, ui_tests

Release notes
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Wrap page type name and description in container to ensure alignment (#14037)
  CHANGELOG.txt
  docs/releases/7.4.md
  wagtail/admin/templates/wagtailadmin/pages/add_subpage.html
Due: backend, ui_tests

Make sphinx_llms.txt extension optional when building docs
  docs/conf.py
Due: backend, ui_tests

Make sphinx_llms.txt extension optional when building docs (#14150)
  CHANGELOG.txt
  docs/conf.py
  docs/releases/7.4.md
Due: backend, ui_tests

Sync comment icon with title border line
  client/scss/components/forms/_title.scss
Due: frontend, ui_tests

Release notes
  CHANGELOG.txt
  client/scss/components/forms/_title.scss
  docs/releases/7.4.md
Due: backend, frontend, ui_tests

Sync comment icon with title border line (#13520)
  CHANGELOG.txt
  client/scss/components/forms/_title.scss
  docs/releases/7.4.md
Due: backend, frontend, ui_tests

Correct capitalisation on SQLite
  docs/releases/7.4.md
Due: backend, ui_tests

Add comment that wagtailsearch.0010_add_text_fields is copied from modelsearch.0003_add_text_fields
  wagtail/search/migrations/0010_add_text_fields.py
Due: backend, ui_tests

Changelog note for #14164
  CHANGELOG.txt
Due: ui_tests

Upgrade to modelsearch 1.3
  pyproject.toml
  wagtail/search/management/commands/enable_fuzzystrmatch.py
  wagtail/search/management/commands/enable_trigram.py
  wagtail/search/management/commands/enable_unaccent.py
  wagtail/search/migrations/0010_add_text_fields.py
Due: backend, ui_tests

Link to Modelsearch configuration docs
  docs/topics/search/backends.md
Due: backend, ui_tests

Document the ability to filter on related fields
  docs/topics/search/indexing.md
Due: backend, ui_tests

Send confirmation email after password reset
  wagtail/admin/templates/wagtailadmin/account/password_reset/password_changed_email.txt
  wagtail/admin/templates/wagtailadmin/account/password_reset/password_changed_email_subject.txt
  wagtail/admin/views/account.py
Due: backend, ui_tests

RulesController - Refactor form cache & effect handling
  client/src/controllers/RulesController.test.js
  client/src/controllers/RulesController.ts
Due: frontend, ui_tests

RulesController - Add support for resetting the selected field
  client/src/controllers/RulesController.stories.js
  client/src/controllers/RulesController.test.js
  client/src/controllers/RulesController.ts
Due: frontend, ui_tests

RulesController - Add support for 'one' & 'not' match
  client/src/controllers/RulesController.stories.js
  client/src/controllers/RulesController.test.js
  client/src/controllers/RulesController.ts
Due: frontend, ui_tests

Update FilteredSelect widget to use RulesController data attributes
  wagtail/admin/tests/test_widgets.py
  wagtail/admin/widgets/filtered_select.py
Due: backend, ui_tests

Update filters to use RulesController attributes & name references
  wagtail/admin/filters.py
  wagtail/admin/templates/wagtailadmin/shared/filters.html
  wagtail/admin/templates/wagtailadmin/shared/headers/slim_header.html
  wagtail/admin/tests/test_filters.py
  wagtail/admin/views/reports/workflows.py
Due: backend, ui_tests

Remove jQuery filtered-select
  client/src/entrypoints/admin/filtered-select.js
  client/webpack.config.js
Due: frontend, ui_tests

7.4 Release notes - Add upgrade consideration for RulesController changes
  docs/releases/7.4.md
Due: backend, ui_tests

Fix sidebar search focus issue (based on upstream/main)
  client/src/components/PageExplorer/PageExplorerPanel.test.js
  client/src/components/PageExplorer/PageExplorerPanel.tsx
  client/src/components/PageExplorer/__snapshots__/PageExplorerPanel.test.js.snap
Due: frontend, ui_tests

Make sure to correctly set the active navigation path
  client/src/components/Sidebar/menu/PageExplorerMenuItem.tsx
  client/src/components/Sidebar/menu/PageExplorererMenuItem.test.js
Due: frontend, ui_tests

Release notes
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.4.md
Due: backend, ui_tests

fixups
  client/src/components/PageExplorer/PageExplorerPanel.test.js
  client/src/components/PageExplorer/PageExplorerPanel.tsx
Due: frontend, ui_tests

Fix sidebar search focus issue (#13885)
  CHANGELOG.txt
  CONTRIBUTORS.md
  client/src/components/PageExplorer/PageExplorerPanel.tsx
  client/src/components/PageExplorer/__snapshots__/PageExplorerPanel.test.js.snap
  client/src/components/Sidebar/menu/PageExplorerMenuItem.tsx
  client/src/components/Sidebar/menu/PageExplorererMenuItem.test.js
  docs/releases/7.4.md
Due: backend, frontend, ui_tests

Release notes for #12187
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Revert "Fix DocumentChooserBlock validation error display (#13926)"
  wagtail/admin/templates/wagtailadmin/generic/chooser/chooser.html
  wagtail/admin/templates/wagtailadmin/generic/chooser/creation_form.html
  wagtail/admin/tests/test_chooser.py
Due: backend, ui_tests

Gracefully handle removal of currently selected tab in TabsController
  client/src/controllers/TabsController.test.js
  client/src/controllers/TabsController.ts
Due: frontend, ui_tests

Ensure replaced tab panels get their hidden attribute set correctly
  client/src/controllers/TabsController.test.js
  client/src/controllers/TabsController.ts
Due: frontend, ui_tests

Release notes for #13984
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Introduce PageViewSet and PageViewSetRegistry for custom explorer views per page type
  wagtail/admin/tests/pages/test_page_viewset.py
  wagtail/admin/urls/__init__.py
  wagtail/admin/viewsets/pages.py
  wagtail/contrib/simple_translation/tests/test_views.py
  wagtail/test/testapp/views.py
  wagtail/test/testapp/wagtail_hooks.py
Due: backend, ui_tests

Allow adding breadcrumbs icon to page explorer
  wagtail/admin/templates/wagtailadmin/pages/page_listing_header.html
  wagtail/admin/tests/pages/test_page_viewset.py
  wagtail/test/testapp/views.py
Due: backend, ui_tests
