Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Use `add_unredirected_header` to pass authorization headers to Facebook/Instagram embed APIs
  wagtail/embeds/finders/facebook.py
  wagtail/embeds/finders/instagram.py
  wagtail/embeds/tests/test_embeds.py
Due: backend, ui_tests

Use `add_unredirected_header` to pass authorization headers to Facebook/Instagram embed APIs (#14612)
  CHANGELOG.txt
  docs/releases/8.1.md
  wagtail/embeds/finders/facebook.py
  wagtail/embeds/finders/instagram.py
  wagtail/embeds/tests/test_embeds.py
Due: backend, ui_tests

Add HeadlessForm model to test #11911
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
  wagtail/contrib/forms/tests/test_models.py
  wagtail/contrib/forms/tests/test_views.py
  wagtail/test/testapp/migrations/0064_headlessform.py
  wagtail/test/testapp/migrations/0065_instantiate_headless_form.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Fix HeadlessForm migration for custom base page model
  wagtail/test/testapp/migrations/0064_headlessform.py
Due: backend, ui_tests

Avoid template lookup when instantiating form pages (#14610)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/8.1.md
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
  wagtail/contrib/forms/models.py
  wagtail/contrib/forms/tests/test_models.py
  wagtail/contrib/forms/tests/test_views.py
  wagtail/test/testapp/migrations/0064_headlessform.py
  wagtail/test/testapp/migrations/0065_instantiate_headless_form.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Fix custom extract_references precedence over default
  wagtail/models/reference_index.py
  wagtail/test/testapp/migrations/0066_modelwithcustomforeignkey.py
  wagtail/test/testapp/models.py
  wagtail/tests/test_reference_index.py
Due: backend, ui_tests

fix: prevent TypeError when revision_id is None
  wagtail/admin/views/generic/history.py
Due: backend, ui_tests

Add output to publish_scheduled command
  wagtail/management/commands/publish_scheduled.py
  wagtail/tests/test_management_commands.py
Due: backend, ui_tests

Add egg crack animation and version to project welcome page
  wagtail/project_template/home/static/css/welcome_page.css
  wagtail/project_template/home/templates/home/welcome_page.html
Due: backend, ui_tests

Add missing Renovate lockFileMaintenance schedule
  .github/renovate.jsonc
Due: ui_tests

Transition testapp's initial squashed migration into a normal migration
  wagtail/test/testapp/migrations/0001_squashed_0073_revisablechildmodel_secret_text.py
Due: backend, ui_tests

Squash testapp migrations
  wagtail/test/testapp/migrations/0001_squashed_0065_instantiate_headless_form.py
Due: backend, ui_tests

Prevent max_count being circumvented by copying pages as aliases
  CHANGELOG.txt
  docs/releases/8.1.md
  wagtail/actions/create_alias.py
  wagtail/admin/api/actions/create_alias.py
  wagtail/admin/tests/api/test_pages.py
  wagtail/admin/tests/pages/test_copy_page.py
  wagtail/tests/test_page_model.py
Due: backend, ui_tests

Fix source page in copy history log
  wagtail/actions/copy_page.py
  wagtail/admin/tests/pages/test_copy_page.py
Due: backend, ui_tests

Clean up testapp migration dependencies
  wagtail/test/testapp/migrations/0001_squashed_0065_instantiate_headless_form.py
Due: backend, ui_tests

Prevent filter dropdown borders from being clipped in the slim sidebar
  CHANGELOG.txt
  client/scss/components/_drilldown.scss
  docs/releases/8.1.md
Due: backend, frontend, ui_tests

Don't commit child relations when saving a draft of a non-live object
  CHANGELOG.txt
  docs/releases/8.1.md
  wagtail/actions/edit.py
  wagtail/test/testapp/migrations/0066_clusterabledraftstatemodel_and_more.py
  wagtail/test/testapp/models.py
  wagtail/tests/actions/test_edit.py
Due: backend, ui_tests

Fix copy/alias page history logging the wrong page as source (#14590)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/8.1.md
  wagtail/actions/copy_page.py
  wagtail/actions/create_alias.py
  wagtail/tests/test_audit_log.py
  wagtail/tests/test_page_model.py
Due: backend, ui_tests

Release note for #14614
  CHANGELOG.txt
  docs/releases/8.1.md
Due: backend, ui_tests

docs: add pytest fixtures for Wagtail pages
  docs/advanced_topics/testing.md
Due: backend, ui_tests

admin: replace jQuery form serialization in privacy-switch with encodeForm
  client/src/entrypoints/admin/privacy-switch.js
  client/src/entrypoints/admin/privacy-switch.test.js
  client/src/utils/encodeForm.test.js
  client/src/utils/encodeForm.ts
Due: frontend, ui_tests

Autocreate redirects only for live pages when WAGTAILREDIRECTS_AUTO_CREATE = True (#14507)
  CHANGELOG.txt
  docs/reference/contrib/redirects.md
  docs/releases/8.1.md
  wagtail/contrib/redirects/signal_handlers.py
  wagtail/contrib/redirects/tests/test_signal_handlers.py
Due: backend, ui_tests

Fix bulk publishing without StreamField validation
  wagtail/admin/views/pages/bulk_actions/publish.py
Due: backend, ui_tests

Use format_html instead of mark_safe in simple_translation help_text
  wagtail/contrib/simple_translation/forms.py
Due: backend, ui_tests

Use format_html instead of mark_safe in simple_translation help_text (#14624)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/8.1.md
  wagtail/contrib/simple_translation/forms.py
Due: backend, ui_tests

Fix bulk deletion of automatically-created redirects with empty batch
  wagtail/contrib/redirects/signal_handlers.py
  wagtail/contrib/redirects/tests/test_signal_handlers.py
Due: backend, ui_tests

Fix documentation and help text for wagtail_update_image_renditions command (#14508)
  CHANGELOG.txt
  docs/advanced_topics/images/renditions.md
  docs/reference/management_commands.md
  docs/releases/8.1.md
  docs/topics/images.md
  wagtail/images/management/commands/wagtail_update_image_renditions.py
Due: backend, ui_tests

Apply EXIF orientation when resizing avatar uploads (#14414)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/8.1.md
  wagtail/admin/forms/account.py
  wagtail/admin/tests/test_account_management.py
Due: backend, ui_tests

add testing section in the PR template (#14281)
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.txt
  docs/releases/8.1.md
Due: backend, ui_tests

Remove jQuery usage in ExpandingFormset
  client/src/components/ExpandingFormset/index.js
Due: frontend, ui_tests

Run scripts only on inserted form nodes
  client/src/components/ExpandingFormset/index.js
  client/src/components/ExpandingFormset/index.test.js
Due: frontend, ui_tests

Address Copilot review comments
  client/src/components/ExpandingFormset/index.js
Due: frontend, ui_tests

Use runInlineScripts utility in ExpandingFormset
  client/src/components/ExpandingFormset/index.js
Due: frontend, ui_tests

Support legacy external and typed scripts in ExpandingFormset
  client/src/components/ExpandingFormset/index.js
  client/src/components/ExpandingFormset/index.test.js
Due: frontend, ui_tests

Format test file with prettier
  client/src/components/ExpandingFormset/index.test.js
Due: frontend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
