Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Update WorkflowState.user_can_cancel to use the specific task actions check
  wagtail/admin/tests/test_workflows.py
  wagtail/models/workflows.py
Due: backend, ui_tests

Fix snippet bulk delete ignoring SitePermissionPolicy
  wagtail/snippets/bulk_actions/delete.py
Due: backend, ui_tests

Add test for snippet bulk delete with SitePermissionPolicy
  wagtail/snippets/tests/test_bulk_actions/test_bulk_delete.py
  wagtail/test/testapp/migrations/0062_sitepermissionsnippet.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

change only modelsearch
  pyproject.toml
Due: ui_tests

Upgrade Python tooling, testing, and docs dependencies
  .pre-commit-config.yaml
  docs/conf.py
  pyproject.toml
  wagtail/contrib/redirects/views.py
  wagtail/models/audit_log.py
Due: backend, ui_tests

Add support for latest Azure SDK for frontend cache invalidation
  docs/reference/contrib/frontendcache.md
  docs/releases/7.4.md
  pyproject.toml
  wagtail/contrib/frontend_cache/backends/azure.py
  wagtail/contrib/frontend_cache/tests.py
Due: backend, ui_tests

Fix apostrophe in word causing 500 error in admin search with Elasticsearch
  wagtail/search/tests/__init__.py
  wagtail/search/tests/test_utils.py
  wagtail/search/utils.py
Due: backend, ui_tests

Add changelog entry for apostrophe search fix
  CHANGELOG.txt
Due: ui_tests

Add test for page_published signal of draft
  wagtail/tests/test_page_model.py
Due: backend, ui_tests

Fixes #13959
  wagtail/actions/publish_revision.py
Due: backend, ui_tests

Adjust number of queries for one test
  wagtail/tests/test_management_commands.py
Due: backend, ui_tests

Improve permissions documentation with clarification on permission inheritance
  docs/topics/permissions.md
Due: backend, ui_tests

Bump minimum Django version to 5.2.8 (CVE-2025-64459)
  pyproject.toml
Due: ui_tests

Fix: preserve mailto links in Draftail allowlist
  wagtail/admin/tests/test_rich_text.py
  wagtail/admin/wagtail_hooks.py
Due: backend, ui_tests

Apply ruff import formatting
  wagtail/admin/tests/test_rich_text.py
Due: backend, ui_tests

Apply ruff formatting
  wagtail/admin/tests/test_rich_text.py
Due: backend, ui_tests

Update macOS reference to 'macOS' and specify shell
  docs/getting_started/tutorial.md
Due: backend, ui_tests

Fix Bitwarden overlay on Users 'Last login' filter by adding data-bwignore attribute
  wagtail/users/views/users.py
Due: backend, ui_tests

Apply Ruff formatting
  wagtail/users/views/users.py
Due: backend, ui_tests

Avoid creating a new editing session when updating UI elements after an autosave
  wagtail/admin/tests/pages/test_edit_page.py
  wagtail/admin/views/generic/mixins.py
  wagtail/admin/views/pages/edit.py
  wagtail/snippets/tests/test_edit_view.py
Due: backend, ui_tests

Update django-ninja.md to use Meta classes instead of old Config classes
  docs/advanced_topics/api/django-ninja.md
Due: backend, ui_tests

Added self to CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: ui_tests

Update CHANGELOG.txt
  CHANGELOG.txt
Due: ui_tests

Remove image/heic from accept attribute #13971, #13972
  wagtail/images/fields.py
  wagtail/images/tests/test_admin_views.py
  wagtail/images/utils.py
Due: backend, ui_tests

Fix #13864: Include image description in search index
  docs/releases/7.4.md
  wagtail/images/models.py
  wagtail/images/tests/test_models.py
Due: backend, ui_tests

Add support for Flourish oEmbeds
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.4.md
  wagtail/embeds/oembed_providers.py
Due: backend, ui_tests

Fix KeyError crash when editing page with malformed image embed missing 'id'
  client/src/components/Draftail/index.js
  client/src/entrypoints/admin/draftail.js
  wagtail/admin/rich_text/converters/contentstate.py
  wagtail/admin/rich_text/converters/html_to_contentstate.py
  wagtail/admin/rich_text/editors/draftail/__init__.py
  wagtail/admin/tests/pages/test_edit_page.py
  wagtail/admin/tests/test_contentstate.py
  wagtail/admin/views/pages/edit.py
  wagtail/images/rich_text/contentstate.py
  wagtail/images/views/chooser.py
  wagtail/images/wagtail_hooks.py
Due: backend, frontend, ui_tests

Prevent dropdowns from closing after a successful autosave
  client/src/controllers/DropdownController.ts
  wagtail/admin/templates/wagtailadmin/pages/listing/_page_header_buttons.html
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/test_buttons_hooks.py
  wagtail/admin/tests/viewsets/test_model_viewset.py
  wagtail/admin/views/generic/base.py
Due: backend, frontend, ui_tests

Code review + release notes
  CHANGELOG.txt
  docs/releases/7.3.1.md
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/views/generic/base.py
Due: backend, ui_tests

Prevent dropdowns from closing after a successful autosave (#13917)
  CHANGELOG.txt
  client/src/controllers/DropdownController.ts
  docs/releases/7.3.1.md
  wagtail/admin/templates/wagtailadmin/pages/listing/_page_header_buttons.html
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/test_buttons_hooks.py
  wagtail/admin/tests/viewsets/test_model_viewset.py
  wagtail/admin/views/generic/base.py
Due: backend, frontend, ui_tests

Apply prettier formatting
  wagtail/images/static_src/wagtailimages/js/add-multiple.js
Due: backend, ui_tests

Fix WebP/AVIF/HEIC image preview placeholder
  wagtail/images/static_src/wagtailimages/js/add-multiple.js
Due: backend, ui_tests

Prevent format-* from applying to SVG images to avoid crash
  wagtail/images/image_operations.py
  wagtail/images/tests/test_image_operations.py
  wagtail/images/tests/test_jinja2_svg.py
Due: backend, ui_tests

Code review + cleanup + release notes
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.3.1.md
  wagtail/images/static_src/wagtailimages/js/add-multiple.js
Due: backend, ui_tests

Fix WebP/AVIF/HEIC image preview placeholder (#13690)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.3.1.md
  wagtail/images/static_src/wagtailimages/js/add-multiple.js
Due: backend, ui_tests

Update dependencies to allow modelsearch 1.2, django-tasks 0.12
  pyproject.toml
Due: ui_tests

Fix import ordering (ruff)
  wagtail/images/tests/test_image_operations.py
Due: backend, ui_tests

Apply ruff formatting
  wagtail/images/tests/test_image_operations.py
  wagtail/images/tests/test_jinja2_svg.py
Due: backend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
