Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Add tests
  wagtail/admin/tests/pages/test_move_page.py
Due: backend, ui_tests

Update logic to check if a page can't exist under a parent, then check if max_count_per_parent is not None
  wagtail/models/pages.py
Due: backend, ui_tests

...and again
  wagtail/admin/tests/pages/test_move_page.py
Due: backend, ui_tests

Rekease notes
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.4.md
Due: backend, ui_tests

Prevent multiple child pages with `max_count_per_parent` being moved under one parent (#13295)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.4.md
  wagtail/admin/tests/pages/test_move_page.py
  wagtail/models/pages.py
Due: backend, ui_tests

Add tzdata dependency, to prevent admin errors when lacking system timezone data (#14142)
  pyproject.toml
  wagtail/admin/tests/test_account_management.py
Due: backend, ui_tests

Remove 'safe' filter from page title in approved/rejected email body
  wagtail/admin/templates/wagtailadmin/notifications/approved.html
  wagtail/admin/templates/wagtailadmin/notifications/rejected.html
Due: backend, ui_tests

Remove 'safe' filter from page title in approved/rejected email body (#14144)
  CHANGELOG.txt
  docs/releases/7.4.md
  wagtail/admin/templates/wagtailadmin/notifications/approved.html
  wagtail/admin/templates/wagtailadmin/notifications/rejected.html
Due: backend, ui_tests

Use format_html for photo type embeds (#14131)
  CHANGELOG.txt
  docs/releases/7.4.md
  wagtail/embeds/finders/instagram.py
  wagtail/embeds/finders/oembed.py
  wagtail/embeds/tests/test_embeds.py
Due: backend, ui_tests

Update format_html call in extending client docs (#14096)
  CHANGELOG.txt
  docs/extending/extending_client_side.md
  docs/releases/7.4.md
Due: backend, ui_tests

Rename a11y-result -> content checker files
  client/scss/components/_content-checker.scss
  client/scss/core.scss
  client/src/controllers/PreviewController.ts
  client/src/includes/contentChecker.test.ts
  client/src/includes/contentChecker.ts
  client/src/includes/userbar.ts
Due: frontend, ui_tests

Change internal accessibility checker naming to content checker
  client/scss/components/_content-checker.scss
  client/scss/components/_userbar.scss
  client/src/controllers/PreviewController.test.js
  client/src/controllers/PreviewController.ts
  client/src/includes/contentChecker.test.ts
  client/src/includes/contentChecker.ts
  client/src/includes/userbar.ts
  wagtail/admin/templates/wagtailadmin/shared/side_panels/checks.html
  wagtail/admin/templates/wagtailadmin/userbar/base.html
  wagtail/admin/templates/wagtailadmin/userbar/item_accessibility.html
  wagtail/admin/tests/test_userbar.py
Due: backend, frontend, ui_tests

Rename AccessibilityItem to ContentCheckerItem, with backwards compat
  client/src/includes/contentChecker.ts
  docs/advanced_topics/accessibility_considerations.md
  docs/advanced_topics/headless.md
  docs/reference/hooks.md
  docs/releases/6.4.md
  docs/releases/7.1.md
  wagtail/admin/locale/en/LC_MESSAGES/django.po
  wagtail/admin/templates/wagtailadmin/userbar/item_content_checker.html
  wagtail/admin/tests/test_userbar.py
  wagtail/admin/userbar.py
Due: backend, frontend, ui_tests

Release notes for #14123
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Handle expired admin sessions in chooser modal responses
  client/src/entrypoints/admin/modal-workflow.js
Due: frontend, ui_tests

Update WorkflowState.user_can_cancel to use the specific task actions check
  CHANGELOG.txt
  docs/releases/7.4.md
  wagtail/admin/tests/test_workflows.py
  wagtail/models/workflows.py
  wagtail/tests/test_workflow.py
Due: backend, ui_tests

docs: cross-link admin UI component references
  docs/advanced_topics/customization/admin_templates.md
  docs/contributing/ui_guidelines.md
  docs/extending/admin_views.md
  docs/extending/template_components.md
Due: backend, ui_tests

Document icon sprite setup for public pages
  docs/advanced_topics/icons.md
Due: backend, ui_tests

Add frontend cache guidance for Vary: Cookie
  docs/advanced_topics/performance.md
  docs/reference/contrib/frontendcache.md
Due: backend, ui_tests

Improve discoverability of JS component docs
  client/README.md
  docs/reference/ui/components.md
Due: backend, frontend, ui_tests

docs: clarify icon tag is intended for admin templates
  docs/advanced_topics/icons.md
Due: backend, ui_tests

Release notes
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/advanced_topics/icons.md
  docs/releases/7.4.md
Due: backend, ui_tests

docs: clarify that the icon tag is for admin templates (#14156)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/advanced_topics/icons.md
  docs/releases/7.4.md
Due: backend, ui_tests

Release notes
  CHANGELOG.txt
  client/README.md
  docs/releases/7.4.md
Due: backend, frontend, ui_tests

Improve discoverability of JavaScript component docs (#14154)
  CHANGELOG.txt
  docs/reference/ui/components.md
  docs/releases/7.4.md
Due: backend, ui_tests

docs: Add documentation for published and unpublished signals
  docs/reference/signals.md
Due: backend, ui_tests

Improve organization of signals reference docs
  docs/reference/signals.md
Due: backend, ui_tests

Release note for #13830
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.4.md
Due: backend, ui_tests

Docs: explain how to override default user avatar image
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/advanced_topics/customization/admin_templates.md
  docs/releases/7.4.md
Due: backend, ui_tests

Add Lasse to core team
  CONTRIBUTORS.md
Due: ui_tests

Add versionadded note for WAGTAILADMIN_PAGE_SEARCH_FILTER_BY_PERMISSIONS setting
  docs/reference/settings.md
Due: backend, ui_tests

Respect WAGTAILADMIN_PAGE_SEARCH_FILTER_BY_PERMISSIONS setting on content type usage view
  wagtail/admin/tests/pages/test_content_type_use_view.py
  wagtail/admin/views/pages/usage.py
Due: backend, ui_tests

Add tests for page searches filtering by permission
  wagtail/admin/tests/pages/test_custom_listing.py
  wagtail/admin/tests/pages/test_explorer_view.py
  wagtail/admin/tests/pages/test_page_search.py
Due: backend, ui_tests

Add warning to docs
  docs/reference/settings.md
Due: backend, ui_tests

Add WAGTAILADMIN_PAGE_SEARCH_FILTER_BY_PERMISSIONS setting to disable permission filter on page searches
  docs/reference/settings.md
  wagtail/admin/tests/pages/test_custom_listing.py
  wagtail/admin/tests/pages/test_explorer_view.py
  wagtail/admin/tests/pages/test_page_search.py
  wagtail/admin/views/pages/listing.py
  wagtail/admin/views/pages/search.py
Due: backend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
