Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.5

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: detect-changes
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            wagtail/.* backend true
            docs/.* backend true
            client/.* frontend true
            package.json frontend true
            .* ui_tests true

Normalize script MIME types and preserve execution order
  client/src/components/ExpandingFormset/index.js
  client/src/components/ExpandingFormset/index.test.js
Due: frontend, ui_tests

Fix broken links in quick_install.md
  docs/getting_started/quick_install.md
Due: backend, ui_tests

Refactor JS to be a bit more like other JS.
  client/src/controllers/PanelLabelController.test.js
  client/src/controllers/PanelLabelController.ts
Due: frontend, ui_tests

Introduce label_format to panels and ListBlock
  client/scss/components/_panel.scss
  client/src/components/StreamField/blocks/ListBlock.js
  client/src/components/StreamField/blocks/ListBlock.test.js
  client/src/components/StreamField/blocks/__snapshots__/ListBlock.test.js.snap
  client/src/controllers/PanelLabelController.test.js
  client/src/controllers/PanelLabelController.ts
  client/src/controllers/index.ts
  docs/reference/panels.md
  docs/reference/streamfield/blocks.md
  wagtail/admin/panels/base.py
  wagtail/admin/panels/inline_panel.py
  wagtail/admin/templates/wagtailadmin/panels/inline_panel.html
  wagtail/admin/templates/wagtailadmin/panels/inline_panel_child.html
  wagtail/admin/tests/test_edit_handlers.py
  wagtail/blocks/list_block.py
  wagtail/tests/test_blocks.py
Due: backend, frontend, ui_tests

fix client lint erros
  client/src/controllers/PanelLabelController.ts
Due: frontend, ui_tests

Add format validation and help text to WagtailDocumentField (#14008)
  CHANGELOG.txt
  docs/releases/8.1.md
  wagtail/documents/fields.py
  wagtail/documents/tests/test_document_field.py
Due: backend, ui_tests

Remove jQuery usage in ExpandingFormset (#14627)
  CHANGELOG.txt
  client/src/components/ExpandingFormset/index.js
  client/src/components/ExpandingFormset/index.test.js
  docs/releases/8.1.md
Due: backend, frontend, ui_tests

Remove jQuery usage in ModalWorkflowSource
  client/src/components/Draftail/sources/ModalWorkflowSource.js
  client/src/components/Draftail/sources/ModalWorkflowSource.test.js
  client/src/entrypoints/admin/modal-workflow.js
  client/src/entrypoints/admin/modal-workflow.test.js
Due: frontend, ui_tests

Fix bulk deletion of automatically-created redirects with empty batch
  CHANGELOG.txt
  docs/releases/8.1.md
  wagtail/contrib/redirects/signal_handlers.py
  wagtail/contrib/redirects/tests/test_signal_handlers.py
Due: backend, ui_tests

Avoid quadratic query construction in PagePermissionPolicy (#14594)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/8.1.md
  wagtail/permission_policies/pages.py
  wagtail/tests/permission_policies/test_page_permission_policies.py
Due: backend, ui_tests

Fix: Inline Link Editing in Duplicated Rich Text StreamField Blocks
  client/src/components/Draftail/index.js
  client/src/components/Draftail/index.test.js
  client/src/components/StreamField/blocks/FieldBlock.js
  client/src/components/StreamField/blocks/FieldBlock.test.js
  client/src/entrypoints/admin/draftail.test.js
Due: frontend, ui_tests

Purge frontend cache when a page is moved or its slug is changed (#12753)
  CHANGELOG.txt
  docs/reference/signals.md
  docs/releases/8.1.md
  wagtail/actions/move_page.py
  wagtail/admin/tests/pages/test_move_page.py
  wagtail/contrib/frontend_cache/signal_handlers.py
  wagtail/contrib/frontend_cache/tests.py
  wagtail/contrib/redirects/tests/test_signal_handlers.py
  wagtail/signals.py
Due: backend, ui_tests

Add alternate links to generated sitemap for translated pages
  docs/advanced_topics/i18n.md
  wagtail/contrib/simple_translation/tests/test_views.py
  wagtail/contrib/sitemaps/sitemap_generator.py
  wagtail/contrib/sitemaps/views.py
  wagtail/models/pages.py
  wagtail/test/urls.py
Due: backend, ui_tests

Move tests and docs to sitemaps module
  docs/advanced_topics/i18n.md
  docs/reference/contrib/sitemaps.md
  wagtail/contrib/simple_translation/tests/test_views.py
  wagtail/contrib/sitemaps/tests.py
Due: backend, ui_tests

Release note for #12973
  CHANGELOG.txt
  docs/releases/8.1.md
Due: backend, ui_tests

Clarify encodeForm JSDoc and clean up test event listeners
  client/src/entrypoints/admin/privacy-switch.test.js
  client/src/utils/encodeForm.ts
Due: frontend, ui_tests

Add hook for customizing page edit handler tabs
  wagtail/admin/apps.py
  wagtail/admin/panels/page_utils.py
  wagtail/admin/tests/test_edit_handlers.py
Due: backend, ui_tests

i18n: make sure 'parent' can be translated in different contexts
  wagtail/admin/forms/collections.py
  wagtail/admin/views/chooser.py
  wagtail/admin/views/pages/listing.py
Due: backend, ui_tests

Use format_html for page privacy ancestor link
  wagtail/admin/tests/test_privacy.py
  wagtail/admin/views/page_privacy.py
Due: backend, ui_tests

Require POST requests for snippet and redirect export endpoints
  wagtail/admin/views/generic/models.py
  wagtail/contrib/redirects/tests/test_redirects.py
  wagtail/contrib/redirects/views.py
  wagtail/snippets/tests/test_viewset.py
  wagtail/snippets/views/snippets.py
Due: backend, ui_tests

Require exports of form submissions to be initiated via an HTTP POST request
  wagtail/admin/views/mixins.py
  wagtail/contrib/forms/tests/test_views.py
  wagtail/contrib/forms/views.py
Due: backend, ui_tests

Short-circuit query in IndexView export endpoint if list_export is empty
  wagtail/admin/views/generic/models.py
  wagtail/locales/tests/test_admin_views.py
Due: backend, ui_tests

Require an HTTP POST for exports on report views
  wagtail/admin/tests/test_reports_views.py
  wagtail/admin/tests/test_workflows.py
  wagtail/admin/views/reports/aging_pages.py
  wagtail/admin/views/reports/audit_logging.py
  wagtail/admin/views/reports/base.py
  wagtail/admin/views/reports/locked_pages.py
  wagtail/admin/views/reports/page_types_usage.py
  wagtail/admin/views/reports/workflows.py
  wagtail/contrib/search_promotions/tests.py
  wagtail/contrib/search_promotions/views/reports.py
Due: backend, ui_tests

Add a `post` parameter to Button to support making POST requests
  wagtail/admin/templates/wagtailadmin/generic/base.html
  wagtail/admin/templates/wagtailadmin/shared/button.html
  wagtail/admin/templates/wagtailadmin/shared/headers/slim_header.html
  wagtail/admin/widgets/button.py
Due: backend, ui_tests

Use format_html for page privacy ancestor link (#14635)
  CHANGELOG.txt
  docs/releases/8.1.md
  wagtail/admin/tests/test_privacy.py
  wagtail/admin/views/page_privacy.py
Due: backend, ui_tests

i18n: make sure 'parent' can be translated in different contexts (#14633)
  CHANGELOG.txt
  docs/releases/8.1.md
  wagtail/admin/forms/collections.py
  wagtail/admin/views/chooser.py
  wagtail/admin/views/pages/listing.py
Due: backend, ui_tests

docs: add pytest fixtures for Wagtail pages
  docs/advanced_topics/testing.md
Due: backend, ui_tests

Fix child_of filter for draft parents
  docs/advanced_topics/api/v3/pages.md
  wagtail/api/v3/routers/pages.py
  wagtail/api/v3/tests/test_pages.py
Due: backend, ui_tests

Fix Jinja2 tag imports during runserver startup
  wagtail/admin/jinja2tags.py
  wagtail/contrib/settings/jinja2tags.py
  wagtail/images/jinja2tags.py
  wagtail/jinja2tags.py
Due: backend, ui_tests

Fix SnippetViewSet chooser failing when ForeignKey uses to_field
  wagtail/admin/views/generic/chooser.py
  wagtail/admin/viewsets/chooser.py
  wagtail/admin/widgets/chooser.py
  wagtail/snippets/tests/test_chooser_widget.py
  wagtail/test/testapp/migrations/0062_snippetwithslugprimarykey_snippetwithfktoslug.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Wire to_field_name through modal URL parameters for full chooser flow
  wagtail/admin/views/generic/chooser.py
  wagtail/admin/widgets/chooser.py
Due: backend, ui_tests

Fix remaining pk hardcoding in chooser view and viewset for to_field support
  wagtail/admin/views/generic/chooser.py
  wagtail/admin/viewsets/chooser.py
Due: backend, ui_tests

Fix ruff linting errors: add urllib.parse import and sort imports
  wagtail/admin/widgets/chooser.py
  wagtail/snippets/tests/test_chooser_widget.py
Due: backend, ui_tests

Fix ruff formatting and migration dependency
  wagtail/admin/views/generic/chooser.py
  wagtail/test/testapp/migrations/0066_snippetwithslugprimarykey_snippetwithfktoslug.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Suppress warnings generated under sphinx-llm 1.1.0
  docs/conf.py
Due: backend, ui_tests

Re-enable build of llms-full.txt
  docs/conf.py
Due: backend, ui_tests

Fix child_of filter for draft parents (#14632)
  CHANGELOG.txt
  docs/advanced_topics/api/v3/pages.md
  docs/releases/8.1.md
  wagtail/api/v3/routers/pages.py
  wagtail/api/v3/tests/test_pages.py
Due: backend, ui_tests

Support nested inline relations in API v3 writes
  wagtail/api/v3/form_data.py
  wagtail/snippets/tests/test_api_v3/test_create.py
  wagtail/snippets/tests/test_api_v3/test_update.py
  wagtail/test/testapp/migrations/0066_uuidsnippetwithrelationssectionlink.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Preserve tag arrays in API v3 writes
  wagtail/api/v3/form_data.py
  wagtail/snippets/tests/test_api_v3/test_create.py
  wagtail/snippets/tests/test_api_v3/test_update.py
Due: backend, ui_tests
