Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Enforce no-underscore-dangle in method names
  client/src/components/StreamField/blocks/ListBlock.js
  client/src/components/StreamField/blocks/StreamBlock.js
  eslint.config.mjs
Due: frontend, ui_tests

Release notes for #13901
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Rename .eslintrc.js to eslint.config.mjs
  client/tests/integration/eslint.config.mjs
  eslint.config.mjs
Due: frontend, ui_tests

Remove unused overrides
  eslint.config.mjs
Due: ui_tests

Fix import-x/no-cycle in Sidebar menu code
  client/src/components/Sidebar/menu/ActionMenuItem.tsx
  client/src/components/Sidebar/menu/LinkMenuItem.tsx
  client/src/components/Sidebar/menu/MenuItem.tsx
  client/src/components/Sidebar/menu/SubMenuCloseButton.tsx
  client/src/components/Sidebar/menu/SubMenuItem.tsx
  client/src/components/Sidebar/menu/index.tsx
  client/src/components/Sidebar/modules/MainMenu.tsx
Due: frontend, ui_tests

Temporarily disable import-x/order rule
  eslint.config.mjs
Due: ui_tests

Replace Puppeteer with Playwright
  .circleci/config.yml
  client/tests/integration/PlaywrightEnvironment.js
  client/tests/integration/expect-axe.js
  client/tests/integration/jest.config.js
  client/tests/integration/package-lock.json
  client/tests/integration/package.json
  client/tests/integration/setup.js
  client/tests/integration/teardown.js
  docs/contributing/developing.md
  docs/contributing/ui_guidelines.md
Due: backend, frontend, ui_tests

Rename PuppeteerEnvironment.js to PlaywrightEnvironment.js
  client/tests/integration/PlaywrightEnvironment.js
Due: frontend, ui_tests

Fix URL concatenation in frontend_cache when WAGTAIL_APPEND_SLASH is False
  docs/releases/7.4.md
  wagtail/contrib/frontend_cache/tests.py
  wagtail/contrib/frontend_cache/utils.py
Due: backend, ui_tests

Fix _get_page_cached_urls when WAGTAIL_APPEND_SLASH=False
  docs/releases/7.4.md
  wagtail/contrib/frontend_cache/tests.py
  wagtail/contrib/frontend_cache/utils.py
Due: backend, ui_tests

Prevent redundant restoration of required fields validation
  wagtail/admin/forms/models.py
Due: backend, ui_tests

Incorporate review feedback for SnippetViewSet chooser widget
  wagtail/admin/tests/test_widgets.py
  wagtail/admin/widgets/chooser.py
  wagtail/snippets/tests/test_chooser_to_field.py
Due: backend, ui_tests

Add is_deferred_validation to form fields during validation of drafts
  wagtail/admin/forms/models.py
  wagtail/admin/tests/test_forms.py
Due: backend, ui_tests

Pass BlockField's is_deferred_validation to BaseStreamBlock.clean()
  wagtail/blocks/base.py
  wagtail/blocks/stream_block.py
Due: backend, ui_tests

Code review cleanup
  client/tests/integration/expect-axe.js
  client/tests/integration/package-lock.json
Due: frontend, ui_tests

Remove unneeded test excludes
  client/tests/integration/editbird.test.js
  client/tests/integration/editor.test.js
  client/tests/integration/groups.test.js
  client/tests/integration/homepage.test.js
  client/tests/integration/listing.test.js
  client/tests/integration/users.test.js
Due: frontend, ui_tests

Release notes for #13918
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Replace Puppeteer with Playwright (#13918)
  .circleci/config.yml
  CHANGELOG.txt
  client/tests/integration/PlaywrightEnvironment.js
  client/tests/integration/PuppeteerEnvironment.js
  client/tests/integration/editbird.test.js
  client/tests/integration/editor.test.js
  client/tests/integration/expect-axe.js
  client/tests/integration/groups.test.js
  client/tests/integration/homepage.test.js
  client/tests/integration/jest.config.js
  client/tests/integration/listing.test.js
  client/tests/integration/package-lock.json
  client/tests/integration/package.json
  client/tests/integration/setup.js
  client/tests/integration/teardown.js
  client/tests/integration/users.test.js
  docs/contributing/developing.md
  docs/contributing/ui_guidelines.md
  docs/releases/7.4.md
Due: backend, frontend, ui_tests

Fix deprecated sass if() function
  client/scss/tools/_functions.breakpoints.scss
Due: frontend, ui_tests

Update sass and sass-loader to latest
  package-lock.json
  package.json
Due: frontend, ui_tests

Defer validation of required StreamField blocks when saving drafts
  wagtail/admin/tests/pages/test_create_page.py
  wagtail/admin/tests/pages/test_edit_page.py
  wagtail/blocks/base.py
  wagtail/blocks/field_block.py
  wagtail/blocks/list_block.py
  wagtail/blocks/stream_block.py
  wagtail/blocks/struct_block.py
  wagtail/contrib/table_block/blocks.py
  wagtail/images/blocks.py
  wagtail/images/tests/test_blocks.py
  wagtail/tests/test_blocks.py
Due: backend, ui_tests

Release notes for #13914
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Add image description field to search index (#13864)
  wagtail/images/models.py
  wagtail/images/tests/test_admin_views.py
Due: backend, ui_tests

Optimize migration 0008 to avoid N+1 queries
  wagtail/migrations/0008_populate_latest_revision_created_at.py
Due: backend, ui_tests

UI: Disable linking the last item in breadcrumbs to the current page
  wagtail/admin/templates/wagtailadmin/shared/breadcrumbs.html
Due: backend, ui_tests

Update test assertions to reflect that the last breadcrumb is no longer a link
  wagtail/admin/tests/pages/test_explorer_view.py
  wagtail/test/utils/template_tests.py
Due: backend, ui_tests

Optimize translation unpublish descendant count to avoid N+1 queries
  wagtail/admin/views/pages/unpublish.py
Due: backend, ui_tests

Fix CI failures: use base Page model and fix import sorting
  wagtail/admin/views/pages/unpublish.py
Due: backend, ui_tests

Apply black code formatting to unpublish.py
  wagtail/admin/views/pages/unpublish.py
Due: backend, ui_tests

ci: add explicit timeout-minutes to CI jobs to prevent resource exhaustion
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
Due: ui_tests

changes
  client/src/entrypoints/admin/core.js
  client/src/entrypoints/admin/core.test.js
Due: frontend, ui_tests

Remove unnecessary sidebar collapsing in InlinePanel E2E tests
  client/tests/integration/editor.test.js
Due: frontend, ui_tests

Set timeout-minutes to 60 mins
  .github/workflows/test.yml
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.4.md
Due: backend, ui_tests

bump modelseach to 1.2 and django tasks to 0.11.0
  pyproject.toml
Due: ui_tests

Defer validation of required StreamField blocks when saving drafts
  wagtail/admin/tests/pages/test_create_page.py
  wagtail/admin/tests/pages/test_edit_page.py
  wagtail/blocks/base.py
  wagtail/blocks/field_block.py
  wagtail/blocks/list_block.py
  wagtail/blocks/stream_block.py
  wagtail/blocks/struct_block.py
  wagtail/contrib/table_block/blocks.py
  wagtail/contrib/table_block/tests.py
  wagtail/contrib/typed_table_block/blocks.py
  wagtail/contrib/typed_table_block/tests.py
  wagtail/images/blocks.py
  wagtail/images/tests/test_blocks.py
  wagtail/tests/test_blocks.py
Due: backend, ui_tests

Add docs for deferred validation in StreamField
  docs/advanced_topics/customization/page_editing_interface.md
  docs/advanced_topics/streamfield_validation.md
  docs/reference/streamfield/blocks.md
  wagtail/blocks/base.py
Due: backend, ui_tests

Add tests, including failing one
  wagtail/admin/tests/test_workflows.py
Due: backend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
