Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Fix #14649: Prevent collapsed minimap from creating an unfocusable scrollable region
  client/src/components/Minimap/Minimap.scss
Due: frontend, ui_tests

Ensure tampered redirect import form throws SuspiciousOperation as intended (#14669)
  CHANGELOG.txt
  docs/releases/8.1.md
  wagtail/contrib/redirects/forms.py
  wagtail/contrib/redirects/tests/test_import_admin_views.py
Due: backend, ui_tests

Remove unused EXTRA_CHILDREN_PARAMETERS
  client/src/api/admin.ts
  client/src/custom.d.ts
  client/tests/stubs.js
  wagtail/admin/templatetags/wagtailadmin_tags.py
Due: backend, frontend, ui_tests

Remove DocumentsAdminAPIViewSet
  client/src/custom.d.ts
  client/tests/stubs.js
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/api/test_documents.py
  wagtail/documents/api/admin/__init__.py
  wagtail/documents/api/admin/views.py
  wagtail/documents/wagtail_hooks.py
Due: backend, frontend, ui_tests

Remove ImagesAdminAPIViewSet
  client/src/custom.d.ts
  client/tests/stubs.js
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/api/test_images.py
  wagtail/images/api/admin/__init__.py
  wagtail/images/api/admin/serializers.py
  wagtail/images/api/admin/views.py
  wagtail/images/wagtail_hooks.py
Due: backend, frontend, ui_tests

Remove admin API v2 actions
  wagtail/admin/api/actions/__init__.py
  wagtail/admin/api/actions/base.py
  wagtail/admin/api/actions/convert_alias.py
  wagtail/admin/api/actions/copy.py
  wagtail/admin/api/actions/copy_for_translation.py
  wagtail/admin/api/actions/create_alias.py
  wagtail/admin/api/actions/delete.py
  wagtail/admin/api/actions/move.py
  wagtail/admin/api/actions/publish.py
  wagtail/admin/api/actions/revert_to_page_revision.py
  wagtail/admin/api/actions/unpublish.py
  wagtail/admin/api/views.py
  wagtail/admin/tests/api/test_pages.py
Due: backend, ui_tests

Replace admin pages API with minimal v3-based explorer API
  client/src/api/admin.test.js
  client/src/api/admin.ts
  client/src/components/PageExplorer/PageExplorerHeader.test.js
  client/src/components/PageExplorer/PageExplorerHeader.tsx
  client/src/components/PageExplorer/PageExplorerItem.test.js
  client/src/components/PageExplorer/PageExplorerItem.tsx
  client/src/components/PageExplorer/PageExplorerPanel.test.js
  client/src/components/PageExplorer/PageExplorerPanel.tsx
  client/src/components/PageExplorer/__snapshots__/PageExplorer.test.js.snap
  client/src/components/PageExplorer/__snapshots__/PageExplorerItem.test.js.snap
  client/src/components/PageExplorer/__snapshots__/PageExplorerPanel.test.js.snap
  client/src/components/PageExplorer/__snapshots__/actions.test.js.snap
  client/src/components/PageExplorer/actions.test.js
  client/src/components/PageExplorer/actions.ts
  client/src/components/PageExplorer/reducers/__snapshots__/nodes.test.js.snap
  client/src/components/PageExplorer/reducers/nodes.test.js
  client/src/components/PageExplorer/reducers/nodes.ts
  client/src/custom.d.ts
  client/tests/stubs.js
  docs/releases/8.1.md
  wagtail/admin/api/filters.py
  wagtail/admin/api/serializers.py
  wagtail/admin/api/urls.py
  wagtail/admin/api/v3/__init__.py
  wagtail/admin/api/v3/api.py
  wagtail/admin/api/v3/explorer.py
  wagtail/admin/api/v3/schemas.py
  wagtail/admin/api/views.py
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/api/test_explorer.py
  wagtail/admin/tests/api/test_pages.py
  wagtail/admin/tests/api/test_renderer_classes.py
  wagtail/admin/tests/api/utils.py
  wagtail/tests/test_page_permissions.py
Due: backend, frontend, ui_tests

Fix invisible 'See all N pages' text in page explorer menu
  client/src/components/PageExplorer/PageCount.tsx
  client/src/components/PageExplorer/PageExplorer.scss
  client/src/components/PageExplorer/__snapshots__/PageCount.test.js.snap
Due: frontend, ui_tests

Format code with ruff
  wagtail/images/rich_text/contentstate.py
  wagtail/images/tests/test_rich_text.py
Due: backend, ui_tests

Avoid disclosing page ID existence via API v3 child_of, descendant_of, translation_of, ancestor_of filters
  wagtail/api/v3/routers/pages.py
  wagtail/api/v3/tests/test_pages.py
Due: backend, ui_tests

fix: Align mobile toggle with banner height
  client/src/components/Sidebar/Sidebar.scss
  client/src/components/Sidebar/Sidebar.test.js
  client/src/components/Sidebar/Sidebar.tsx
  client/tests/integration/sidebar.test.js
Due: frontend, ui_tests

Separate project Docker migrations from server startup
  docs/deployment/docker.md
  docs/deployment/index.md
  docs/releases/8.1.md
  wagtail/project_template/Dockerfile
Due: backend, ui_tests

Address Docker deployment documentation review
  docs/deployment/docker.md
  wagtail/project_template/Dockerfile
Due: backend, ui_tests

Use spelling-compatible wording in Docker deployment guide
  docs/deployment/docker.md
Due: backend, ui_tests

Fix API v3 PATCH discarding unpublished draft changes of live pages and snippets
  wagtail/api/v3/form_data.py
  wagtail/api/v3/routers/pages.py
  wagtail/api/v3/tests/test_page_update.py
  wagtail/snippets/api/v3/router.py
  wagtail/snippets/tests/test_api_v3/test_update.py
Due: backend, ui_tests

Fix tags handling in write API v3
  wagtail/api/v3/form_data.py
  wagtail/api/v3/tests/test_page_create.py
  wagtail/api/v3/tests/test_page_update.py
Due: backend, ui_tests

Add form data handling for TypedTableBlock in write API v3
  wagtail/api/v3/form_data.py
  wagtail/api/v3/tests/test_page_create.py
  wagtail/api/v3/tests/test_page_update.py
  wagtail/contrib/typed_table_block/blocks.py
  wagtail/test/testapp/migrations/0001_squashed_0065_instantiate_headless_form.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Fix API v3 child relations with related_query_name or default accessor being ignored
  wagtail/api/conf.py
  wagtail/api/v3/form_data.py
  wagtail/api/v3/schemas/generators/read.py
  wagtail/api/v3/schemas/generators/write.py
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
  wagtail/api/v3/tests/test_page_create.py
  wagtail/api/v3/tests/test_page_update.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Fix API v3 500 when updating child relations whose model has a custom primary key name
  wagtail/api/v3/form_data.py
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
  wagtail/api/v3/tests/test_page_update.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Ensure custom id is respected in write API schema for inline panels
  wagtail/api/v3/form_data.py
  wagtail/api/v3/schemas/generators/write.py
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
  wagtail/api/v3/tests/test_page_update.py
Due: backend, ui_tests

Add missing __init__.py to wagtail.api.tests
  wagtail/api/tests/__init__.py
Due: backend, ui_tests

Handle nested inline panels in write API v3
  wagtail/api/v3/form_data.py
  wagtail/api/v3/tests/snapshots/openapi.json
  wagtail/api/v3/tests/snapshots/openapi_basepage.json
  wagtail/api/v3/tests/test_page_create.py
  wagtail/api/v3/tests/test_page_update.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Respect submitted order of child relation items in API v3 writes
  wagtail/api/v3/form_data.py
  wagtail/api/v3/tests/test_page_update.py
Due: backend, ui_tests

Only update supplied fields of existing child relation items in API v3 PATCH
  wagtail/api/v3/form_data.py
  wagtail/api/v3/tests/test_page_update.py
Due: backend, ui_tests

Fix bulk publish with required StreamField
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_publish.py
  wagtail/admin/views/pages/bulk_actions/publish.py
Due: backend, ui_tests

Fix: Inline Link Editing in Duplicated Rich Text StreamField Blocks
  client/src/components/Draftail/index.js
  client/src/components/Draftail/index.test.js
  client/src/components/StreamField/blocks/FieldBlock.js
  client/src/components/StreamField/blocks/FieldBlock.test.js
  client/src/entrypoints/admin/draftail.test.js
Due: frontend, ui_tests

Fix TypedTableBlock caption loss when duplicating
  client/src/entrypoints/contrib/typed_table_block/typed_table_block.js
  client/src/entrypoints/contrib/typed_table_block/typed_table_block.test.js
Due: frontend, ui_tests

Formalized support for Python 3.15
  .github/workflows/test.yml
  README.md
  docs/releases/8.1.md
  docs/releases/upgrading.md
  pyproject.toml
  tox.ini
Due: backend, ui_tests

Allowed pre-releases for python 3.15
  .github/workflows/test.yml
Due: ui_tests

Use h1 to fix Axe level-one heading violation
  wagtail/admin/templates/wagtailadmin/generic/form.html
  wagtail/admin/tests/test_account_management.py
  wagtail/admin/tests/test_views_generic.py
  wagtail/contrib/settings/tests/generic/test_admin.py
  wagtail/contrib/settings/tests/site_specific/test_admin.py
Due: backend, ui_tests

Add row headers and accessible names to group permission tables
  wagtail/admin/templates/wagtailadmin/permissions/includes/collection_member_permissions_form.html
  wagtail/users/forms.py
  wagtail/users/templates/wagtailusers/groups/includes/formatted_permissions.html
  wagtail/users/templates/wagtailusers/groups/includes/page_permissions_form.html
  wagtail/users/tests/test_admin_views.py
Due: backend, ui_tests

Add example custom base page model use cases. Fix #833
  docs/advanced_topics/customization/custom_base_page_models.md
Due: backend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
