Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Fix verbose_name_plural for Query model in search_promotions
  wagtail/contrib/search_promotions/models.py
  wagtail/contrib/search_promotions/tests.py
Due: backend, ui_tests

Add migration for Query model meta options
  wagtail/contrib/search_promotions/migrations/0008_alter_query_options.py
Due: backend, ui_tests

Support to_field in SnippetViewSet chooser widgets
  wagtail/admin/viewsets/chooser.py
  wagtail/admin/widgets/chooser.py
  wagtail/snippets/tests/test_chooser_to_field.py
  wagtail/snippets/views/chooser.py
  wagtail/snippets/widgets.py
  wagtail/test/testapp/migrations/0061_tofieldcategory_tofieldpost.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Set verbose_name_plural for Query model in search_promotions (#13909)
  CHANGELOG.txt
  docs/releases/7.4.md
  wagtail/contrib/search_promotions/migrations/0008_query_verbose_name.py
  wagtail/contrib/search_promotions/models.py
  wagtail/contrib/search_promotions/tests.py
Due: backend, ui_tests

Add include_block tag in docs section heading for extra search weight
  docs/topics/streamfield.md
Due: backend, ui_tests

Remove prefixes from search fields docs headings to improve search matches
  docs/topics/search/indexing.md
Due: backend, ui_tests

Docs: fix typos and minor grammar issues
  CHANGELOG.txt
  SPONSORS.md
  docs/contributing/documentation_guidelines.md
  docs/reference/hooks.md
  docs/releases/2.9.rst
  docs/releases/3.0.2.md
  docs/releases/4.2.md
  docs/releases/6.3.md
  docs/releases/6.4.md
Due: backend, ui_tests

Docs: fix typos and minor grammar issues (#13912)
  CHANGELOG.txt
  SPONSORS.md
  docs/contributing/documentation_guidelines.md
  docs/reference/hooks.md
  docs/releases/2.9.rst
  docs/releases/3.0.2.md
  docs/releases/4.2.md
  docs/releases/6.3.md
  docs/releases/6.4.md
  docs/releases/7.4.md
Due: backend, ui_tests

Add tests for publish revision atomicity
  wagtail/tests/test_page_model.py
Due: backend, ui_tests

Improve project template Dockerfile for production readiness (#13613)
  wagtail/project_template/Dockerfile
Due: backend, ui_tests

Upgrade gunicorn to 25.1.0
  wagtail/project_template/Dockerfile
Due: backend, ui_tests

Release notes for #13613
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.4.md
Due: backend, ui_tests

Added include_root flag to Pages Admin API (#13868)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.4.md
  wagtail/admin/api/views.py
  wagtail/admin/tests/api/test_pages.py
Due: backend, ui_tests

Add system checks for Orderable and TranslatableMixin Meta inheritance
  wagtail/models/i18n.py
  wagtail/models/orderable.py
  wagtail/tests/test_orderable.py
  wagtail/tests/test_translatablemixin.py
Due: backend, ui_tests

Fix document serve tests for Windows (#13886)
  CHANGELOG.txt
  docs/releases/7.4.md
  wagtail/documents/tests/test_views.py
Due: backend, ui_tests

Prevent dropdowns from closing after a successful autosave
  client/src/controllers/DropdownController.ts
  wagtail/admin/templates/wagtailadmin/pages/listing/_page_header_buttons.html
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/test_buttons_hooks.py
  wagtail/admin/tests/viewsets/test_model_viewset.py
  wagtail/admin/views/generic/base.py
Due: backend, frontend, ui_tests

Add tests for w-breadcrumbs events in RevealController (#13913)
  client/src/controllers/RevealController.test.js
Due: frontend, ui_tests

Add tests for w-breadcrumbs events in RevealController (#13913)
  client/src/controllers/RevealController.ts
Due: frontend, ui_tests

Enhance workflow tasks styling by setting a maximum width for task elements and adjusting the width of the tasks column in the admin view. (#13884)
  CHANGELOG.txt
  CONTRIBUTORS.md
  client/scss/components/_workflow-tasks.scss
  docs/releases/7.4.md
  wagtail/admin/views/workflows.py
Due: backend, frontend, ui_tests

Update Gaurav Takhi's name
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.4.md
Due: backend, ui_tests

Fix duplicate inline panel items when editing snippets with RevisionMixin and autosave enabled
  CHANGELOG.txt
  docs/releases/7.3.1.md
  docs/releases/index.rst
  wagtail/admin/views/generic/models.py
  wagtail/snippets/tests/test_create_view.py
  wagtail/snippets/tests/test_edit_view.py
  wagtail/test/testapp/migrations/0061_revisablecluster_revisableclusterchild.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Fix duplicate inline panel items when editing snippets with RevisionMixin and autosave enabled
  CHANGELOG.txt
  docs/releases/7.3.1.md
  docs/releases/index.rst
  wagtail/admin/views/generic/models.py
  wagtail/snippets/tests/test_create_view.py
  wagtail/snippets/tests/test_edit_view.py
  wagtail/test/testapp/migrations/0060_revisablecluster_revisableclusterchild.py
  wagtail/test/testapp/models.py
Due: backend, ui_tests

Display and allow to remove choices from other pages
  client/scss/components/_chooser.scss
  client/src/includes/chooserModal.js
  wagtail/admin/templates/wagtailadmin/chooser/browse.html
  wagtail/admin/templates/wagtailadmin/generic/chooser/chooser.html
Due: backend, frontend, ui_tests

Check if subpage models can be created in can_add_subpage
  CHANGELOG.txt
  docs/releases/7.4.md
  wagtail/admin/tests/pages/test_create_page.py
  wagtail/admin/tests/pages/test_explorer_view.py
  wagtail/admin/tests/test_buttons_hooks.py
  wagtail/models/pages.py
  wagtail/tests/test_page_permissions.py
Due: backend, ui_tests

Add "transaction" tag to all test cases that extend TransactionTestCase
  .gitignore
  docs/contributing/developing.md
  wagtail/admin/tests/api/utils.py
  wagtail/admin/tests/pages/test_page_search.py
  wagtail/admin/tests/test_page_chooser.py
  wagtail/api/v2/tests/test_documents.py
  wagtail/api/v2/tests/test_images.py
  wagtail/api/v2/tests/test_pages.py
  wagtail/documents/tests/test_admin_views.py
  wagtail/documents/tests/test_models.py
  wagtail/images/tests/test_admin_views.py
  wagtail/images/tests/test_models.py
  wagtail/images/tests/test_signal_handlers.py
  wagtail/snippets/tests/test_chooser_views.py
  wagtail/snippets/tests/test_list_view.py
  wagtail/snippets/tests/test_viewset.py
  wagtail/tests/test_page_queryset.py
Due: backend, ui_tests

Use protocol-relative URLs in the userbar
  client/src/includes/userbar.ts
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/test_userbar.py
  wagtail/admin/userbar.py
Due: backend, frontend, ui_tests

Implement pluggable view restriction registry and migration (#13880)
  wagtail/migrations/0098_pluggable_restriction_choices.py
  wagtail/models/restriction_registry.py
  wagtail/models/view_restrictions.py
Due: backend, ui_tests

Fix DocumentChooserBlock validation error display
  wagtail/admin/templates/wagtailadmin/generic/chooser/creation_form.html
  wagtail/admin/tests/test_chooser.py
Due: backend, ui_tests

Accept is_deferred_validation in FieldBlock.clean() and its subclasses
  wagtail/blocks/field_block.py
  wagtail/contrib/table_block/blocks.py
  wagtail/embeds/blocks.py
Due: backend, ui_tests

Pass BlockField's is_deferred_validation to BaseStreamBlock.clean()
  wagtail/blocks/base.py
  wagtail/blocks/stream_block.py
Due: backend, ui_tests

Standardise is_deferred_validation in base Block.clean()
  wagtail/blocks/base.py
Due: backend, ui_tests

Add is_deferred_validation to form fields during validation of drafts
  wagtail/admin/forms/models.py
Due: backend, ui_tests

Pass is_deferred_validation from StreamBlock, ListBlock, and StructBlock to their children
  wagtail/blocks/list_block.py
  wagtail/blocks/stream_block.py
  wagtail/blocks/struct_block.py
  wagtail/images/blocks.py
Due: backend, ui_tests

Raise warnings if a block's clean() does not accept is_deferred_validation
  wagtail/blocks/base.py
  wagtail/blocks/list_block.py
  wagtail/blocks/stream_block.py
  wagtail/blocks/struct_block.py
Due: backend, ui_tests

Docs: Update published/unpublished signals documentation
  docs/reference/signals.md
Due: backend, ui_tests

Docs: Update scope of published/unpublished signals
  docs/reference/signals.md
Due: backend, ui_tests

docs: Add documentation for published and unpublished signals
  docs/reference/signals.md
Due: backend, ui_tests

Fixed indentation issues in edit.py and edit.html
  wagtail/wagtail/admin/templates/wagtailadmin/pages/edit.html
  wagtail/wagtail/admin/views/pages/edit.py
Due: backend, ui_tests

Ignore no-extraneous-dependencies in scrollbarThin.js Tailwind plugin
  eslint.config.mjs
Due: ui_tests

Fix no-unused-vars
  client/src/components/Draftail/CommentableEditor/CommentableEditor.tsx
  client/src/controllers/UnsavedController.ts
Due: frontend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
