Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Pause SessionController pings during autosave to prevent conflict notification with own session
  client/src/controllers/SessionController.test.js
  client/src/controllers/SessionController.ts
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
Due: backend, frontend, ui_tests

Update dashboard query count assertions to 10
  wagtail/admin/tests/test_dashboard.py
Due: backend, ui_tests

Apply Ruff formatting
  wagtail/admin/tests/test_dashboard.py
Due: backend, ui_tests

Fix chooser test assertContains (account for new lang attribute) and bump page search query count to 25
  wagtail/admin/tests/pages/test_page_search.py
  wagtail/admin/tests/test_page_chooser.py
Due: backend, ui_tests

Fix bulk actions bad-permissions tests: pass response directly to assertContains
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_delete.py
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_move.py
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_publish.py
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_unpublish.py
Due: backend, ui_tests

Apply Ruff formatting to bulk actions test files after updates
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_delete.py
Due: backend, ui_tests

Add the image description field to search index
  wagtail/images/models.py
Due: backend, ui_tests

Fix #13976: Specific instances in PageBulkAction.get_queryset
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_publish.py
  wagtail/admin/views/pages/bulk_actions/page_bulk_action.py
Due: backend, ui_tests

Fix bulk action tests to use get_admin_display_title()
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_move.py
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_unpublish.py
Due: backend, ui_tests

Fix test_bulk_delete_bad_permissions to use get_admin_display_title()
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_delete.py
Due: backend, ui_tests

Show editing sessions seen in the past 25min and mark sessions older than 10min as idle
  client/scss/components/_editing-sessions.scss
  wagtail/admin/models.py
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/list.html
  wagtail/admin/tests/test_editing_sessions.py
  wagtail/admin/views/editing_sessions.py
Due: backend, frontend, ui_tests

Rename w-overwrite-changes-dialog to w-save-confirmation-dialog
  client/src/controllers/SessionController.test.js
  client/src/controllers/SessionController.ts
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/list.html
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
  wagtail/admin/tests/test_editing_sessions.py
Due: backend, frontend, ui_tests

Do not release editing session when switching to a different tab
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
Due: backend, ui_tests

Extract idle, available, and stale timedelta values as EditingSession attributes
  wagtail/admin/models.py
Due: backend, ui_tests

Show a warning dialog when trying to save after losing internet connection
  client/src/controllers/SessionController.test.js
  client/src/controllers/SessionController.ts
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
Due: backend, frontend, ui_tests

Add retries with exponential backoff when autosave fails due to network error
  client/src/controllers/AutosaveController.test.js
  client/src/controllers/AutosaveController.ts
Due: frontend, ui_tests

Add unit test for autosave hydration when the partials target is unavailable
  client/src/controllers/AutosaveController.test.js
Due: frontend, ui_tests

Fix N+1 queries introduced by lang attribute additions
  wagtail/admin/templates/wagtailadmin/pages/listing/_page_title_cell.html
  wagtail/admin/templates/wagtailadmin/pages/listing/_page_title_explore.html
  wagtail/admin/templates/wagtailadmin/pages/listing/_parent_page_cell.html
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/pages/test_explorer_view.py
  wagtail/admin/tests/pages/test_page_search.py
  wagtail/admin/tests/test_dashboard.py
  wagtail/admin/views/home.py
  wagtail/admin/views/pages/listing.py
Due: backend, ui_tests

Add changelog entry for apostrophe search fix
  CHANGELOG.txt
Due: ui_tests

Fix apostrophe in word causing 500 error in admin search with Elasticsearch
  wagtail/search/tests/__init__.py
  wagtail/search/tests/test_utils.py
  wagtail/search/utils.py
Due: backend, ui_tests

Fix advert chooser viewset registration in testapp
  wagtail/test/testapp/wagtail_hooks.py
Due: backend, ui_tests

Add tests for dotted string path support in creation_form_class
  wagtail/admin/tests/viewsets/test_chooser_viewset.py
  wagtail/test/testapp/views.py
Due: backend, ui_tests

Fix accessibility of radio select and checkbox fields in admin
  wagtail/admin/panels/field_panel.py
  wagtail/admin/templates/wagtailadmin/panels/multi_field_panel_child.html
  wagtail/admin/templates/wagtailadmin/shared/formatted_field.html
  wagtail/admin/templatetags/wagtailadmin_tags.py
Due: backend, ui_tests

Support dotted string path for creation_form_class in ChooserViewSet to avoid circular imports
  wagtail/admin/viewsets/chooser.py
Due: backend, ui_tests

Apply ruff formatting
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/pages/test_page_search.py
  wagtail/admin/tests/test_dashboard.py
  wagtail/admin/views/home.py
Due: backend, ui_tests

Fix linting errors and unused variable in test_bulk_publish.py
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_publish.py
Due: backend, ui_tests

Improve error message for format-* operations on SVG images
  wagtail/images/models.py
  wagtail/images/tests/test_jinja2_svg.py
Due: backend, ui_tests

Add format validation and help text to WagtailDocumentField fixes #13989
  CHANGELOG.txt
  wagtail/documents/fields.py
  wagtail/documents/tests/test_document_field.py
Due: backend, ui_tests

Fix ruff formatting for fields.py and test_document_field.py
  wagtail/documents/fields.py
  wagtail/documents/tests/test_document_field.py
Due: backend, ui_tests

Fix #6465 - Add update_redirects management command to convert redirect URLs to Wagtail pages
  wagtail/contrib/redirects/management/commands/update_redirects.py
  wagtail/contrib/redirects/tests/test_update_redirects.py
Due: backend, ui_tests

Limit autosave retries to 5
  client/src/controllers/AutosaveController.test.js
  client/src/controllers/AutosaveController.ts
Due: frontend, ui_tests

Use protocol-relative URLs in the userbar (#13923)
  client/src/includes/userbar.ts
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/test_userbar.py
  wagtail/admin/userbar.py
Due: backend, frontend, ui_tests

Add placeholder release notes for 7.3.2
  CHANGELOG.txt
  docs/releases/7.3.2.md
  docs/releases/index.rst
Due: backend, ui_tests

Add release notes for #13923
  CHANGELOG.txt
  docs/releases/7.3.2.md
Due: backend, ui_tests

Upgrade Python tooling, testing, and docs dependencies
  .pre-commit-config.yaml
  docs/conf.py
  pyproject.toml
  wagtail/contrib/redirects/views.py
  wagtail/models/audit_log.py
Due: backend, ui_tests

Add release notes for #13952
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
