Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Fix typing for debounce() to avoid nested Promise types
  client/src/utils/debounce.ts
Due: frontend, ui_tests

Add docs for retry-related AutosaveController members
  client/src/controllers/AutosaveController.ts
Due: frontend, ui_tests

Ensure only one autosave request can happen at a time to prevent incorrect conflict notifications with the current session
  client/src/controllers/AutosaveController.test.js
  client/src/controllers/AutosaveController.ts
Due: frontend, ui_tests

Fix live preview getting stuck when edits occur during an in-progress update
  client/src/controllers/PreviewController.test.js
  client/src/controllers/PreviewController.ts
Due: frontend, ui_tests

Extract autoUpdateStalePreview() in PreviewController
  client/src/controllers/PreviewController.ts
Due: frontend, ui_tests

Release note for #14129
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.3.2.md
Due: backend, ui_tests

Fall back to default time zone when zoneinfo data is missing
  wagtail/admin/localization.py
  wagtail/admin/tests/test_localization.py
Due: backend, ui_tests

Add system check warning when zoneinfo lacks time zone data
  wagtail/admin/checks.py
  wagtail/admin/tests/test_checks.py
Due: backend, ui_tests

Document tzdata requirement for environments without system time zone data
  CHANGELOG.txt
  docs/deployment/under_the_hood.md
  docs/releases/7.4.md
Due: backend, ui_tests

Add missing wagtail-inline-userbar exclude
  wagtail/admin/tests/test_userbar.py
  wagtail/admin/userbar.py
Due: backend, ui_tests

Dispatch w-autosave:error before w-autosave:deactivated
  client/src/controllers/AutosaveController.test.js
  client/src/controllers/AutosaveController.ts
Due: frontend, ui_tests

Pause SessionController pings during autosave to prevent conflict notification with own session
  client/src/controllers/SessionController.test.js
  client/src/controllers/SessionController.ts
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
Due: backend, frontend, ui_tests

Release note for #13975 in 7.3.2
  CHANGELOG.txt
  docs/releases/7.3.2.md
Due: backend, ui_tests

Release note for #14189 in 7.3.2
  CHANGELOG.txt
  docs/releases/7.3.2.md
Due: backend, ui_tests

Add missing wagtail-inline-userbar exclude (#14201)
  wagtail/admin/tests/test_userbar.py
  wagtail/admin/userbar.py
Due: backend, ui_tests

Prevent incorrect conflict notification when doing a manual save
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
  wagtail/admin/tests/test_editing_sessions.py
Due: backend, ui_tests

Release notes
  CHANGELOG.txt
  docs/releases/7.0.7.md
  docs/releases/7.3.2.md
Due: backend, ui_tests

Prevent incorrect conflict notification when doing a manual save (#14198)
  CHANGELOG.txt
  docs/releases/7.0.7.md
  docs/releases/7.3.2.md
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
  wagtail/admin/tests/test_editing_sessions.py
Due: backend, ui_tests

Prevent incorrect conflict notification when doing a manual save (#14198)
  CHANGELOG.txt
  docs/releases/7.0.7.md
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
  wagtail/admin/tests/test_editing_sessions.py
Due: backend, ui_tests

Revert "Prevent incorrect conflict notification when doing a manual save (#14198)"
  CHANGELOG.txt
  docs/releases/7.0.7.md
  wagtail/admin/templates/wagtailadmin/shared/editing_sessions/module.html
  wagtail/admin/tests/test_editing_sessions.py
Due: backend, ui_tests

Update action versions in test.yml
  .github/workflows/test.yml
Due: ui_tests

Release notes for security fixes in 7.0.7
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.0.7.md
Due: backend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
