Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Use ESM exports in Tailwind tokens
  client/src/plugins/scrollbarThin.js
  client/src/tokens/breakpoints.js
  client/src/tokens/colorThemes.js
  client/src/tokens/colorVariables.js
  client/src/tokens/colors.js
  client/src/tokens/colors.stories.tsx
  client/src/tokens/objectStyles.js
  client/src/tokens/spacing.js
  client/src/tokens/typography.js
  client/tailwind.config.js
Due: frontend, ui_tests

Fix react/use-state pairs
  client/src/controllers/CleanController.stories.js
  client/src/controllers/SubmitController.stories.js
Due: frontend, ui_tests

Remove unused overrides
  eslint.config.mjs
Due: ui_tests

Refactor utils/version.js to TypeScript
  client/src/utils/version.test.js
  client/src/utils/version.ts
  client/tests/stubs.js
Due: frontend, ui_tests

Remove orphaned package-lock.json in client/
  client/package-lock.json
Due: frontend, ui_tests

Remove 'global' usage
  client/src/api/client.js
  client/src/components/Draftail/sources/ModalWorkflowSource.js
Due: frontend, ui_tests

Auto-fix ESLint errors
  client/src/components/ComboBox/ComboBox.tsx
  client/src/components/ComboBox/findMatches.ts
  client/src/components/CommentApp/components/Comment/index.tsx
  client/src/components/CommentApp/main.tsx
  client/src/components/CommentApp/utils/layout.ts
  client/src/components/Draftail/CommentableEditor/CommentableEditor.tsx
  client/src/components/Link/Link.test.js
  client/src/components/Minimap/Minimap.tsx
  client/src/components/Panel/index.ts
  client/src/components/Sidebar/modules/MainMenu.tsx
  client/src/components/StreamField/blocks/StaticBlock.js
  client/src/controllers/BlockController.ts
  client/src/controllers/BulkController.ts
  client/src/controllers/ClipboardController.ts
  client/src/controllers/CloneController.ts
  client/src/controllers/RulesController.ts
  client/src/controllers/SessionController.ts
  client/src/controllers/TabsController.ts
  client/src/custom.d.ts
  client/src/utils/debounce.ts
Due: frontend, ui_tests

Enforce no-underscore-dangle in method names
  client/src/components/StreamField/blocks/ListBlock.js
  client/src/components/StreamField/blocks/StreamBlock.js
  eslint.config.mjs
Due: frontend, ui_tests

Rename prettier.config.js to prettier.config.mjs
  prettier.config.mjs
Due: ui_tests

Fix import-x/no-cycle in Sidebar menu code
  client/src/components/Sidebar/menu/ActionMenuItem.tsx
  client/src/components/Sidebar/menu/LinkMenuItem.tsx
  client/src/components/Sidebar/menu/MenuItem.tsx
  client/src/components/Sidebar/menu/SubMenuCloseButton.tsx
  client/src/components/Sidebar/menu/SubMenuItem.tsx
  client/src/components/Sidebar/menu/index.tsx
  client/src/components/Sidebar/modules/MainMenu.tsx
Due: frontend, ui_tests

Add @types/sortablejs and fix resulting lint issues
  client/src/controllers/OrderableController.ts
  package-lock.json
  package.json
Due: frontend, ui_tests

Upgrade ESLint to v9
  .eslintignore
  .pre-commit-config.yaml
  client/src/utils/performance.js
  client/storybook/middleware.js
  client/tests/integration/eslint.config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
Due: frontend, ui_tests

Fix/ignore remaining ESLint react issues
  client/src/components/CommentApp/components/TextArea/index.tsx
  client/src/components/Draftail/CommentableEditor/CommentableEditor.tsx
  client/src/components/Draftail/index.js
Due: frontend, ui_tests

Temporarily disable import-x/order rule
  eslint.config.mjs
Due: ui_tests

Rename .eslintrc.js to eslint.config.mjs
  client/tests/integration/eslint.config.mjs
  eslint.config.mjs
Due: frontend, ui_tests

Fix prefer-for-of
  client/src/components/Widget/index.js
  client/src/entrypoints/admin/filtered-select.js
Due: frontend, ui_tests

Disable react-hooks/refs and react-hooks/set-state-in-effect
  eslint.config.mjs
Due: ui_tests

Merge integration tests ESLint config into root ESLint config
  client/tests/integration/eslint.config.mjs
  eslint.config.mjs
Due: frontend, ui_tests

Remove unneeded dependency
  package-lock.json
  package.json
Due: frontend, ui_tests

Release notes for #13901
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Ignore no-extraneous-dependencies in scrollbarThin.js Tailwind plugin
  eslint.config.mjs
Due: ui_tests

Fix no-unused-vars
  client/src/components/Draftail/CommentableEditor/CommentableEditor.tsx
  client/src/controllers/UnsavedController.ts
Due: frontend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
