Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Move file validation script to shared location
  wagtail/admin/static_src/wagtailadmin/js/vendor/jquery.fileupload-validate.js
  wagtail/images/templates/wagtailimages/multiple/add.html
Due: backend, ui_tests

Release note for #14230
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.4.1.md
  docs/releases/index.rst
Due: backend, ui_tests

Add client tests for Image & Document upload
  client/tests/fixtures/image-big.png
  client/tests/integration/documents-upload.test.js
  client/tests/integration/images-upload.test.js
  wagtail/test/settings_ui.py
Due: backend, frontend, ui_tests

Version bump to 7.4.1
  wagtail/__init__.py
Due: backend, ui_tests

fix client lint erros
  client/src/controllers/PanelLabelController.ts
Due: frontend, ui_tests

Persist collapsible panel state in localStorage
  client/src/components/StreamField/blocks/StructBlock.test.js
  client/src/includes/panels.test.ts
  client/src/includes/panels.ts
Due: frontend, ui_tests

♿ Issue #14205: Draftail rich text editor missing accessible name
  client/src/components/Draftail/index.js
  client/src/components/Draftail/index.test.js
Due: frontend, ui_tests

Fix blank choice tests for Django 6.1
  wagtail/admin/tests/test_filters.py
Due: backend, ui_tests

release notes
  CHANGELOG.txt
  docs/releases/8.0.md
Due: backend, ui_tests

Fix blank choice tests for Django 6.1 (#14196)
  CHANGELOG.txt
  docs/releases/8.0.md
  wagtail/admin/tests/test_filters.py
Due: backend, ui_tests

Remove pillow-heif AVIF support warning filter in project template test
  .github/workflows/test.yml
Due: ui_tests

Use new MAILERS setting in project template on Django >= 6.1
  wagtail/project_template/project_name/settings/dev.py
  wagtail/test/settings.py
Due: backend, ui_tests

Update docs to refer to MAILERS setting for Django 6.1
  docs/advanced_topics/add_to_django_project.md
  docs/deployment/flyio.md
Due: backend, ui_tests

docs(templates): document request.in_preview_panel
  docs/topics/writing_templates.md
Due: backend, ui_tests

docs(i18n): make LocaleMiddleware requirement explicit
  docs/advanced_topics/i18n.md
Due: backend, ui_tests

docs(AGENTS): expand AGENTS.md with Wagtail-specific AI pitfalls
  AGENTS.md
Due: ui_tests

Ignore EMAIL_BACKEND setting deprecation in project template tests
  .github/workflows/test.yml
Due: ui_tests

Fix reusable blocks in StreamBlock and StructBlock losing their required state after deferred validation
  wagtail/blocks/list_block.py
  wagtail/blocks/stream_block.py
  wagtail/blocks/struct_block.py
  wagtail/contrib/typed_table_block/blocks.py
  wagtail/contrib/typed_table_block/tests.py
  wagtail/tests/test_blocks.py
Due: backend, ui_tests

Fix non-deterministic ordering of missing child blocks in StructBlock's form_layout
  CHANGELOG.txt
  docs/releases/7.4.2.md
  docs/releases/index.rst
  wagtail/blocks/struct_block.py
  wagtail/tests/test_blocks.py
Due: backend, ui_tests

Update docs example to use correct `w-panel` and `mark_safe`
  docs/reference/hooks.md
Due: backend, ui_tests

Preserve admin scroll for Draftail block toolbar actions
  client/src/components/Draftail/index.js
  client/src/components/Draftail/index.test.js
Due: frontend, ui_tests

Remove redundant scroll restoration timeouts in preserveMainScroll function
  client/src/components/Draftail/index.js
Due: frontend, ui_tests

Remove redundant scroll reset logic in Draftail tests
  client/src/components/Draftail/index.test.js
Due: frontend, ui_tests

AI-generated possible solution for #14242
  wagtail/blocks/struct_block.py
Due: backend, ui_tests

Update latest.txt for 7.4.1
  scripts/latest.txt
Due: ui_tests

fix: draftail chrome scroll reset
  client/src/components/Draftail/index.js
  client/src/components/Draftail/index.test.js
Due: frontend, ui_tests

feat: enhance findComponent function to recursively search for child components
  .gitignore
  client/src/components/Draftail/index.test.js
Due: frontend, ui_tests

Add onCompleteSource handler to BlockToolbar and enhance tests for toolbar behavior
  client/src/components/Draftail/index.js
  client/src/components/Draftail/index.test.js
Due: frontend, ui_tests

Create permissions policy registry in wagtail.permissions and register the defaults
  wagtail/permissions.py
Due: backend, ui_tests

Add generic typings to ObjectTypeRegistry
  wagtail/utils/registry.py
Due: backend, ui_tests

Drop AGENTS.md from packaged data
  pyproject.toml
Due: ui_tests

Remove Blog References in create_portfolio_page.md
  docs/tutorial/create_portfolio_page.md
Due: backend, ui_tests

Remove data-files from pyproject.toml to fix markdown files landing in venv root
  pyproject.toml
Due: ui_tests

Fix Draftail editor missing accessible name (ariaLabelledBy)
  client/src/components/Draftail/index.js
Due: frontend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
