Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.5

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: detect-changes
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            wagtail/.* backend true
            docs/.* backend true
            client/.* frontend true
            package.json frontend true
            .* ui_tests true

Release notes for security fixes in 7.0.7
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.0.7.md
Due: backend, ui_tests

Check object permissions in PageHistoryView
  wagtail/admin/views/pages/history.py
Due: backend, ui_tests

Check permissions when comparing page revisions
  wagtail/admin/views/pages/revisions.py
Due: backend, ui_tests

Add test
  wagtail/admin/tests/test_audit_log.py
Due: backend, ui_tests

Fix permission handling on page copy
  wagtail/actions/copy_page.py
  wagtail/admin/forms/pages.py
  wagtail/admin/tests/api/test_pages.py
  wagtail/admin/tests/pages/test_copy_page.py
  wagtail/admin/views/pages/copy.py
  wagtail/models/pages.py
Due: backend, ui_tests

Fix permission check on creating alias
  wagtail/actions/create_alias.py
  wagtail/admin/forms/pages.py
  wagtail/admin/tests/api/test_pages.py
  wagtail/admin/tests/pages/test_copy_page.py
  wagtail/admin/views/pages/copy.py
Due: backend, ui_tests

Add test for revision compare view access
  wagtail/admin/tests/pages/test_revisions.py
Due: backend, ui_tests

Change permission test to edit or publish
  wagtail/admin/views/pages/revisions.py
Due: backend, ui_tests

ruff format
  wagtail/api/v2/tests/test_documents.py
Due: backend, ui_tests

Update Wagtail dependency in project template
  wagtail/project_template/requirements.txt
Due: backend, ui_tests

Fill in CVE identifiers
  CHANGELOG.txt
  docs/releases/7.0.7.md
  docs/releases/7.3.2.md
  docs/releases/7.4.md
Due: backend, ui_tests

Update latest.txt for 7.4 LTS
  scripts/latest.txt
Due: ui_tests

Add missing return statements
  docs/extending/template_components.md
Due: backend, ui_tests

Move deprecations from 7.4 to be removed in 9.0
  wagtail/admin/templatetags/wagtailadmin_tags.py
  wagtail/admin/tests/test_templatetags.py
  wagtail/admin/tests/test_userbar.py
  wagtail/admin/userbar.py
Due: backend, ui_tests

Update GitHub Actions and coverage command
  .github/workflows/test.yml
Due: ui_tests

Remove deprecated features scheduled for removal in 8.0
  client/src/controllers/TeleportController.test.js
  client/src/controllers/TeleportController.ts
  client/src/entrypoints/admin/core.js
  client/src/entrypoints/admin/page-chooser-telepath.test.js
  client/src/entrypoints/admin/telepath/telepath.js
  client/src/entrypoints/contrib/table_block/table.test.js
  client/src/entrypoints/contrib/typed_table_block/typed_table_block.test.js
  client/src/includes/chooserModal.js
  client/webpack.config.js
  docs/reference/streamfield/widget_api.md
  eslint.config.mjs
  wagtail/admin/signals.py
  wagtail/admin/templates/wagtailadmin/generic/form.html
  wagtail/admin/templates/wagtailadmin/generic/index.html
  wagtail/admin/templates/wagtailadmin/pages/_editor_js.html
  wagtail/admin/templates/wagtailadmin/pages/copy.html
  wagtail/admin/tests/test_buttons_hooks.py
  wagtail/admin/tests/test_userbar.py
  wagtail/admin/tests/test_widgets.py
  wagtail/admin/tests/viewsets/test_model_viewset.py
  wagtail/admin/userbar.py
  wagtail/admin/widgets/button.py
  wagtail/admin/widgets/tags.py
  wagtail/contrib/styleguide/templates/wagtailstyleguide/base.html
  wagtail/search/backends/deprecation.py
  wagtail/search/backends/elasticsearch7.py
  wagtail/search/backends/elasticsearch8.py
  wagtail/search/backends/elasticsearch9.py
  wagtail/search/backends/opensearch2.py
  wagtail/search/backends/opensearch3.py
  wagtail/search/tests/test_elasticsearch.py
  wagtail/snippets/tests/test_list_view.py
  wagtail/snippets/widgets.py
  wagtail/telepath.py
  wagtail/test/settings.py
  wagtail/users/tests/test_admin_views.py
  wagtail/users/widgets.py
  wagtail/widget_adapters.py
Due: backend, frontend, ui_tests

Add release notes, including details of removed deprecations
  CHANGELOG.txt
  docs/releases/8.0.md
  docs/releases/index.rst
Due: backend, ui_tests

Remove obsolete versionadded / versionchanged notes
  docs/advanced_topics/customization/streamfield_blocks.md
  docs/reference/hooks.md
  docs/reference/settings.md
  docs/reference/streamfield/blocks.md
  docs/reference/streamfield/widget_api.md
  wagtail/admin/viewsets/model.py
Due: backend, ui_tests

Version bump to 8.0
  docs/releases/upgrading.md
  wagtail/__init__.py
  wagtail/project_template/requirements.txt
Due: backend, ui_tests

Rotate deprecation warning classes
  wagtail/utils/deprecation.py
Due: backend, ui_tests

fix: Add aria-labelledby support to Draftail editor (fixes #14205)
  client/src/components/Draftail/index.js
  client/src/components/Draftail/index.test.js
Due: frontend, ui_tests

Add support for getting page viewsets by non-parent page ID
  wagtail/admin/tests/pages/test_page_viewset.py
  wagtail/admin/viewsets/pages.py
  wagtail/test/testapp/views.py
Due: backend, ui_tests

Add error handling for improper use of PageViewSetRegistry.as_view()
  wagtail/admin/tests/pages/test_page_viewset.py
  wagtail/admin/viewsets/pages.py
Due: backend, ui_tests

Add pages CreateView to PageViewSet
  wagtail/admin/tests/pages/test_page_viewset.py
  wagtail/admin/urls/pages.py
  wagtail/admin/viewsets/pages.py
Due: backend, ui_tests

Add root parameter support to queryController helpers
  client/src/includes/initStimulus.ts
Due: frontend, ui_tests

Fix formatting issues
  client/src/includes/initStimulus.ts
Due: frontend, ui_tests

Fix auto sizes responsive image tests
  wagtail/images/models.py
  wagtail/images/tests/test_jinja2.py
  wagtail/images/tests/test_templatetags.py
Due: backend, ui_tests

Add pages EditView and RevisionsRevertView to PageViewSet
  wagtail/admin/tests/pages/test_edit_page.py
  wagtail/admin/tests/pages/test_page_viewset.py
  wagtail/admin/urls/pages.py
  wagtail/admin/viewsets/pages.py
Due: backend, ui_tests
