Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Bail early from the URL generator view if frontend serve view is absent
  wagtail/images/views/images.py
Due: backend, ui_tests

Release notes for 7.0.8
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.0.8.md
  docs/releases/index.rst
Due: backend, ui_tests

Fill in CVE numbers for 7.0.7
  CHANGELOG.txt
  docs/releases/7.0.7.md
Due: backend, ui_tests

Version bump to 7.0.8
  wagtail/__init__.py
Due: backend, ui_tests

Add credits for 7.0.8 changelog
  CHANGELOG.txt
Due: ui_tests

Release notes for 7.3.3
  CHANGELOG.txt
  docs/releases/7.3.3.md
  docs/releases/index.rst
Due: backend, ui_tests

Fill in CVE numbers for 7.3.2
  CHANGELOG.txt
  docs/releases/7.3.2.md
Due: backend, ui_tests

Version bump to 7.3.3
  wagtail/__init__.py
Due: backend, ui_tests

Release notes for security fixes in 7.4.2
  CHANGELOG.txt
  docs/releases/7.4.2.md
Due: backend, ui_tests

Version bump to 7.4.2
  wagtail/__init__.py
Due: backend, ui_tests

Update codecov CircleCI Orb to v6.0.0
  .circleci/config.yml
Due: ui_tests

Update latest.txt for 7.4.2
  scripts/latest.txt
Due: ui_tests

add missing request to preview settings docs
  docs/reference/contrib/settings.md
Due: backend, ui_tests

move tests
  wagtail/tests/permission_policies/__init__.py
  wagtail/tests/permission_policies/test_permission_policy_override.py
Due: backend, ui_tests

Add missing `request` to `get_preview_template` in settings docs (#14277)
  docs/reference/contrib/settings.md
Due: backend, ui_tests

update get_permission_policy function and usages\
  wagtail/actions/publish_revision.py
  wagtail/admin/views/generic/chooser.py
  wagtail/contrib/redirects/permissions.py
  wagtail/contrib/search_promotions/permissions.py
  wagtail/contrib/search_promotions/views/settings.py
  wagtail/contrib/search_promotions/wagtail_hooks.py
  wagtail/contrib/settings/models.py
  wagtail/contrib/settings/registry.py
  wagtail/contrib/settings/views.py
  wagtail/documents/permissions.py
  wagtail/images/permissions.py
  wagtail/permissions.py
  wagtail/snippets/views/snippets.py
  wagtail/tests/permission_policies/test_permission_policy_override.py
  wagtail/users/permissions.py
  wagtail/users/views/bulk_actions/user_bulk_action.py
Due: backend, ui_tests

Fix page explorer toggle state reset on menu item click
  client/src/components/PageExplorer/PageExplorerPanel.tsx
Due: frontend, ui_tests

Update PageExplorerPanel snapshots for toggle fix
  client/src/components/PageExplorer/__snapshots__/PageExplorerPanel.test.js.snap
Due: frontend, ui_tests

Fix incorrect TED oEmbed endpoint URL
  wagtail/embeds/oembed_providers.py
Due: backend, ui_tests

Release note for #14292
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/8.0.md
Due: backend, ui_tests

Use canonical URL for TED oEmbed provider (#14292)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/8.0.md
  wagtail/embeds/oembed_providers.py
Due: backend, ui_tests

Add "Maintenance task" GitHub issue template (#14282)
  .github/ISSUE_TEMPLATE/MAINTENANCE.yml
Due: ui_tests

Add GHA workflow for testing with absolute latest versions
  .github/latest-deps-overrides.txt
  .github/workflows/latest-deps.yml
Due: ui_tests

Add script to print dependencies that resolved out of our boundaries
  .github/workflows/latest-deps.yml
  scripts/latest-deps-summary.py
Due: ui_tests

Notify Slack on latest dependencies failure
  .github/workflows/latest-deps.yml
Due: ui_tests

Release notes and tweaks for latest deps testing #14254
  .github/workflows/latest-deps.yml
  CHANGELOG.txt
  docs/releases/8.0.md
  scripts/latest-deps-summary.py
Due: backend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
