Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Exclude items in descendants of private collections from document/image API v3 endpoints
  wagtail/api/v3/permissions.py
  wagtail/api/v3/tests/test_openapi_snapshot.py
  wagtail/documents/api/v3/router.py
  wagtail/documents/tests/test_api_v3/test_detail.py
  wagtail/documents/tests/test_api_v3/test_listing.py
  wagtail/images/api/v3/router.py
  wagtail/images/tests/test_api_v3/base.py
  wagtail/images/tests/test_api_v3/test_detail.py
  wagtail/images/tests/test_api_v3/test_listing.py
Due: backend, ui_tests

Make CopyViewMixin require edit or view permission over source object
  wagtail/admin/views/generic/models.py
  wagtail/snippets/tests/test_copy_view.py
  wagtail/users/tests/test_admin_views.py
Due: backend, ui_tests

Check edit permission on source page in "copy page for translation" action
  wagtail/actions/copy_for_translation.py
  wagtail/admin/tests/api/test_pages.py
Due: backend, ui_tests

Release notes for security fixes in 7.0.9
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/releases/7.0.9.md
Due: backend, ui_tests

Release notes for security fixes in 7.3.4
  CHANGELOG.txt
  docs/releases/7.3.4.md
  docs/releases/index.rst
Due: backend, ui_tests

Release notes for security fixes in 7.4.3
  CHANGELOG.txt
  docs/releases/7.4.3.md
Due: backend, ui_tests

Release notes for security fixes in 8.0
  CHANGELOG.txt
  docs/releases/8.0.md
Due: backend, ui_tests

Update V3 API copy-for-translation tests to grant change permission
  wagtail/api/v3/tests/test_page_actions.py
Due: backend, ui_tests

Version bump to 8.0rc2
  wagtail/__init__.py
Due: backend, ui_tests

Bump to 8.0rc2 in project template
  wagtail/project_template/requirements.txt
Due: backend, ui_tests

Check correct class name in admin API page action tests
  wagtail/admin/tests/api/test_pages.py
Due: backend, ui_tests

Update latest.txt for 7.4.3 release
  scripts/latest.txt
Due: ui_tests

Use non-ARM runner for CodeQL (#14539)
  .github/workflows/codeql-analysis.yml
Due: ui_tests

Adds the same cache check before setting found in get_renditions to get_rendition
  wagtail/images/models.py
Due: backend, ui_tests

Prevent page explorer from reopening when toggled
  client/src/components/PageExplorer/PageExplorerPanel.test.js
  client/src/components/PageExplorer/PageExplorerPanel.tsx
  client/src/components/PageExplorer/__snapshots__/PageExplorerPanel.test.js.snap
Due: frontend, ui_tests

Fix Pages sidebar button double-triggering Page Explorer on second click (#14542)
  client/src/components/PageExplorer/PageExplorerPanel.test.js
  client/src/components/PageExplorer/PageExplorerPanel.tsx
Due: frontend, ui_tests

Document security support for fixes on the main branch
  docs/contributing/security.md
Due: backend, ui_tests

Clean up formatting
  docs/contributing/security.md
Due: backend, ui_tests

Gate v3 API OpenAPI schema and docs behind WAGTAILAPI_DOCS_ENABLED
  docs/advanced_topics/api/v3/index.md
  docs/reference/settings.md
  wagtail/api/v3/api.py
  wagtail/api/v3/tests/test_docs.py
Due: backend, ui_tests

Docs: add section on customizing StreamField block API output
  docs/advanced_topics/api/v2/configuration.md
Due: backend, ui_tests

Release notes
  CHANGELOG.txt
  docs/advanced_topics/api/v2/configuration.md
  docs/advanced_topics/api/v3/streamfield.md
  docs/reference/streamfield/blocks.md
  docs/releases/8.0.md
Due: backend, ui_tests

Link to ready-made custom base page model project template (#14536)
  docs/advanced_topics/customization/custom_base_page_models.md
Due: backend, ui_tests

Docs: add section on customizing StreamField block API output (#14139)
  CHANGELOG.txt
  docs/advanced_topics/api/v2/configuration.md
  docs/advanced_topics/api/v3/streamfield.md
  docs/reference/streamfield/blocks.md
  docs/releases/8.0.md
Due: backend, ui_tests

Validate slug for page copy and create_alias v3 actions
  wagtail/api/v3/routers/pages.py
  wagtail/api/v3/tests/test_page_actions.py
Due: backend, ui_tests

Require change permission on source snippet in copy-for-translation action
  wagtail/actions/copy_for_translation.py
  wagtail/snippets/tests/test_api_v3/test_actions.py
Due: backend, ui_tests

Update PageExplorerPanel snapshots for toggle fix
  client/src/components/PageExplorer/__snapshots__/PageExplorerPanel.test.js.snap
Due: frontend, ui_tests

Fix page explorer toggle state reset on menu item click
  client/src/components/PageExplorer/PageExplorerPanel.tsx
Due: frontend, ui_tests

Added tests for clickOutsideDeactivates focus trap behavior
  client/src/components/PageExplorer/PageExplorerPanel.test.js
Due: frontend, ui_tests

Fix formatting
  client/src/components/PageExplorer/PageExplorerPanel.test.js
Due: frontend, ui_tests

Fix nested submenu labels in slim sidebar
  client/src/components/Sidebar/menu/SubMenuItem.tsx
Due: frontend, ui_tests

Run apt-get update before installing libpq-dev in CI
  .github/workflows/test.yml
Due: ui_tests

docs: Remove deprecated USE_L10N setting from documentation
  docs/advanced_topics/add_to_django_project.md
  docs/advanced_topics/i18n.md
Due: backend, ui_tests

Document security support for fixes on the main branch (#14545)
  docs/contributing/security.md
Due: backend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
