Repository wagtail/wagtail: changes, and which CircleCI parameters are due for each by the changed paths.
All: backend, frontend, ui_tests

Use select_related("latest_revision") when loading object for previews
  wagtail/admin/views/generic/preview.py
  wagtail/admin/views/pages/preview.py
  wagtail/snippets/tests/test_preview.py
Due: backend, ui_tests

Create FormState model
  wagtail/admin/migrations/0006_formstate.py
  wagtail/admin/models.py
Due: backend, ui_tests

Store preview data in FormState model
  wagtail/admin/tests/pages/test_preview.py
  wagtail/admin/views/generic/preview.py
  wagtail/admin/views/pages/preview.py
  wagtail/contrib/settings/tests/shared/test_preview.py
  wagtail/snippets/tests/test_preview.py
Due: backend, ui_tests

Convert FormState.object_key to generic FK and parent_object_id
  wagtail/admin/migrations/0006_formstate.py
  wagtail/admin/models.py
  wagtail/admin/tests/pages/test_preview.py
  wagtail/admin/views/generic/preview.py
  wagtail/admin/views/pages/preview.py
  wagtail/contrib/settings/tests/shared/test_preview.py
  wagtail/models/revisions.py
  wagtail/snippets/tests/test_preview.py
Due: backend, ui_tests

Move preview expiration timeout to FormState model
  wagtail/admin/models.py
  wagtail/admin/tests/pages/test_preview.py
  wagtail/admin/views/generic/preview.py
  wagtail/snippets/tests/test_preview.py
Due: backend, ui_tests

Use TextField for FormState.data
  wagtail/admin/migrations/0006_formstate.py
  wagtail/admin/models.py
  wagtail/admin/views/generic/preview.py
Due: backend, ui_tests

Release note for #14017
  CHANGELOG.txt
  docs/releases/7.4.md
Due: backend, ui_tests

Clarify StreamField template usage and add example in AGENTS instructions
  AGENTS.md
Due: ui_tests

Release notes
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/advanced_topics/accessibility_considerations.md
  docs/releases/7.4.md
Due: backend, ui_tests

Docs: clarify form accessibility ticket references. Fix #12009 (#14091)
  CHANGELOG.txt
  CONTRIBUTORS.md
  docs/advanced_topics/accessibility_considerations.md
  docs/releases/7.4.md
Due: backend, ui_tests

Update format_html call in extending client docs
  docs/extending/extending_client_side.md
Due: backend, ui_tests

Fix move confirm crash when translated destination is missing
  wagtail/admin/views/pages/move.py
  wagtail/contrib/simple_translation/tests/test_wagtail_hooks.py
Due: backend, ui_tests

Align move translation count with cascaded moves
  wagtail/admin/views/pages/move.py
  wagtail/contrib/simple_translation/tests/test_wagtail_hooks.py
Due: backend, ui_tests

Reuse translated destinations in move confirm
  wagtail/admin/views/pages/move.py
Due: backend, ui_tests

Add fuzzy search to wagtail search
  docs/reference/settings.md
  pyproject.toml
  wagtail/admin/views/pages/search.py
Due: backend, ui_tests

Support unaccent
  docs/reference/settings.md
  wagtail/admin/views/pages/search.py
Due: backend, ui_tests

Add logging
  wagtail/admin/views/pages/search.py
Due: backend, ui_tests

Formatting
  wagtail/admin/views/pages/listing.py
  wagtail/admin/views/pages/search.py
Due: backend, ui_tests

Simplify the example
  docs/advanced_topics/images/image_file_formats.md
Due: backend, ui_tests

fix: return live children for draft parent
  wagtail/api/v2/filters.py
Due: backend, ui_tests

fix: return empty qs instead of 400 for inaccessible parent
  wagtail/api/v2/filters.py
  wagtail/api/v2/tests/test_pages.py
Due: backend, ui_tests

test: update admin test exclusion for renamed site test
  wagtail/admin/tests/api/test_pages.py
Due: backend, ui_tests

Fix extra space in status label
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
Due: ui_tests

Configure Ruff to format Python code blocks in Markdown docs
  .pre-commit-config.yaml
  ruff.toml
Due: ui_tests

Add CI linting for Python formatting in docs
  .github/workflows/lint.yml
Due: ui_tests

Add Markdown formatting to Prettier configuration
  .prettierignore
  package.json
Due: frontend, ui_tests

Add Markdown formatting to Prettier configuration
  .prettierignore
Due: ui_tests

Fix formatting for all file types with Prettier
  docs/getting_started/tutorial.md
  docs/reference/settings.md
  docs/reference/streamfield/blocks.md
  docs/releases/upgrading.md
  package-lock.json
  package.json
Due: backend, frontend, ui_tests

Fix 500 error when bulk deleting/moving pages with ancestor-descendant relationship
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_delete.py
  wagtail/admin/tests/pages/test_bulk_actions/test_bulk_move.py
  wagtail/admin/views/pages/bulk_actions/delete.py
  wagtail/admin/views/pages/bulk_actions/move.py
Due: backend, ui_tests

Fix Playwright browser install in UI tests
  .circleci/config.yml
Due: ui_tests

Use correct npm prefix when installing playwright browsers on CircleCI
  .circleci/config.yml
Due: ui_tests

Add Personalkollen sponsorship credit for #14017
  SPONSORS.md
  docs/releases/7.4.md
Due: backend, ui_tests

refactor:generating the home page at the time of wagtail start with the documentation
  wagtail/project_template/home/migrations/0001_initial.py
  wagtail/project_template/home/migrations/0002_create_homepage.py
  wagtail/project_template/home/models.py
  wagtail/project_template/home/templates/home/home_page.html
  wagtail/project_template/home/templates/home/welcome_page.html
Due: backend, ui_tests

Ensure translation aliases have slug synced with original
  wagtail/models/pages.py
  wagtail/tests/test_page_model.py
Due: backend, ui_tests

Apply ruff formatting
  wagtail/admin/tests/test_rich_text.py
Due: backend, ui_tests

Apply ruff import formatting
  wagtail/admin/tests/test_rich_text.py
Due: backend, ui_tests

Fix: preserve mailto links in Draftail allowlist
  wagtail/admin/tests/test_rich_text.py
  wagtail/admin/wagtail_hooks.py
Due: backend, ui_tests

Path conditions:
  backend: (any of: wagtail/.*) or (any of: docs/.*)
  frontend: (any of: client/.*) or (any of: package.json)
  ui_tests: any of: .*
